[2013-08-19 03:11] karacz opened #1 "Bug in net.wasdev.wlp.maven.plugins.server.StartDebugMojoSupport"
Both jvmOptions and serverEnv are initialized by bootProps value - expression="${bootProps}" .

[2013-08-19 03:43] karacz opened #2 "serverEnv setting fails"
net.wasdev.wlp.maven.plugins.server.StartDebugMojoSupport fails when setting serverEnv as both setTodir() and setTofile() are called. Please remove setTodir() call.

[2013-10-03 15:14] tim-gp opened #3 "Non-zero return codes from underlying start/stop server commands cause Maven build failures"
Consider the following case:
In a pre-clean phase, I want to ensure my Liberty server (residing in the target directory) is stopped. In post-clean, I configure and start my server (again residing in the target directory).

In this instance, on the first run, the pre-clean goal uses the stop-server goal which returns a non-zero return code because the server is not running yet. This causes the mvn

[2013-10-03 16:00] tim-gp opened #4 "No way to create a server from a template via the Maven plugin"

[2013-10-07 04:54] jgawor opened #5 "Document liberty-assembly packaging type"

[2013-10-07 04:58] jgawor opened #6 "Improve application deployment/undeployment"
Right now applications are deployed/undeployed using the _dropins_ directory. However, it is more preferable to deploy/undeploy the applications by updating the server.xml and adding/removing the <application> element.

[2013-11-22 15:32] jgawor opened #7 "Add goal for installing features (esa files)"
Add goal for installing features (esa files).

[2013-12-16 21:22] bwa opened #8 "start-server to skip already started server"
If start-server goal is run when server is already running, it's more convenient to just skip and return without a failure

[2013-12-16 21:23] bwa opened #9 "clean goal"
There is no option to remove applications added with install-apps. A clean goal could be created to remove alle deployed apps

[2014-01-15 05:33] #4 closed, assigned to jgawor

[2014-01-15 05:34] #8 closed, assigned to jgawor

[2014-01-15 05:35] #3 closed, assigned to jgawor

[2014-01-15 05:36] #5 closed, assigned to jgawor

[2014-01-15 15:32] #2 closed, assigned to jgawor

[2014-01-15 15:32] #1 closed, assigned to jgawor

[2014-01-17 21:39] jgawor opened #10 "Liberty plug-in improvements"
1) Add include parameter for `package` goal.
2) Change default for cleanStart to false.
3) Improve `server-status` goal to use Ant `status` operation.
4) Remove old and unnecessary code.
5) Add support for `dump` and `javadump` goals.
6) Add support for setting userDirectory (WLP_USER_DIR).
7) Stop server if application failed to start in alloted time in `start-server`.
8) Ensure timeouts are cons

[2014-01-30 10:59] dkirrane opened #11 "Add ability to remove Liberty logs and wars from the dropings folder on stop"
For development purposes it would be a nice enhancements to clear down logs and delete all wars from the dropins folder when stopping the server.

[2014-03-09 21:43] dkirrane opened #12 "assemblyArtifact does not exist"
The following `assemblyArtifact` mentioned in the documentation does not exist:

[code]

[2014-03-14 15:21] jgawor opened #13 "Inline bootstrap properties, jvm options"
Right now the bootstrap properties and jvm options can be specified in the Liberty plug-in as files. It would be also good to support a way to inline within plugin configuration in pom.xml these settings as well.

[2014-03-20 13:29] aura-automation opened #14 "1.0 release?"
What is the plan for 1.0 release. Is it coming out soon,?

[2014-03-20 16:42] #12 closed, assigned to nobody

[2014-03-20 16:43] jgawor opened #15 "Timeouts are inconsistent"
Some timeouts are specified in milliseconds and some are specified in seconds. The timeout units should be consistent in the plugin.
Change the timeouts in deploy/undeploy goals to be specified in seconds.

[2014-04-02 15:52] #15 closed, assigned to RobertoSanchezHerrera

[2014-04-04 13:26] dkirrane opened #16 "Add ability to deploy to a remote Liberty server"
It would be nice to deploy applications to a remotely running liberty server using the Maven plugin

[2014-04-04 13:29] dkirrane opened #17 "Add ability to deploy to a remote full WAS server"
We do dev testing against a local Liberty server.

However, sometimes we want to deploy to our pre-production server which has the full WebSphere 8.5.5 edition.

It but it would be nice enhancement if we could deploy to a remote WAS server (full edition) using the liberty maven plguin

[2014-04-14 17:21] #13 closed, assigned to jgawor

[2014-04-14 19:22] jgawor opened #18 "Rename serverHome parameter to installDirectory"
serverHome parameter name is not consistent with other names such as userDirectory or outputDirectory. To make it consistent, it will be renamed to installDirectory. The code will still check for serverHome parameter to maintain backwards compability.

[2014-04-17 16:44] #10 closed, assigned to jgawor

[2014-04-17 16:45] #18 closed, assigned to jgawor

[2014-04-17 17:03] #17 closed, assigned to nobody

[2014-04-23 12:55] dkirrane opened #19 "Add ability to deploy application to WAS Liberty server.xml file"
Add ability to `liberty-maven-plugin:deploy` goal to allow application deployment to WAS Liberty `server.xml` file in addition to the `dropins` directory. Additionally this will allow usage of the shared library feature of Liberty and specify the context root to use.

So example of the resulting deploy plugin execution

[code]

would config `server.xml` like:

[code]

[2014-04-23 14:14] #14 closed, assigned to jgawor

[2014-04-25 11:28] dkirrane opened #20 "Add support for <skip>"
None of the liberty-maven-plugin Mojos support <skip>
Even with skip all goals still run

[code]

[2014-05-27 05:01] #20 closed, assigned to nobody

[2014-06-18 12:34] dkirrane opened #23 "Config option to server in debug mode"
Add a config option to the start-server goal to start in debug mode.

[2014-06-19 14:49] jgawor opened #24 "Support server "run" operation"
Add support for the "run" server operation - for running the server in foreground.

[2014-07-09 16:37] jgawor opened #25 "Option to install Liberty from a repository"
Add an option to install Liberty from the WASdev repository or other location.

[2015-01-16 17:53] jgawor commented on #24
This work is done.

[2015-01-16 17:53] #24 closed

[2015-01-16 17:54] jgawor commented on #25
This works is done.

[2015-01-16 17:54] #25 closed

[2015-02-05 14:25] dkirrane opened #28 "Add option to the deploy goal to strip the appArchives version number"
It would be good if one could specifiy `<stripVersion>true</stripVersion>` to the `deploy` goal.

The resulting war would get copied to the dropins folder minus the version number. This would be similar the the `maven-dependency-plugin` option

[2015-02-13 17:08] rea-al commented on #7
It could be solved with 742839930e426c6d6b66d8506a0e8300410422f4

[2015-02-23 19:48] rea-al commented on #7
I'm working in that goal in: https://github.com/rea-al/ci.maven/tree/InstallFeatureSupport

[2015-03-27 18:19] danydrouin opened #30 "install from repository failing with ClassNotFoundException com.ibm.websphere.ssl.protocol.SSLSocketFactory"
[ERROR] Failed to execute goal net.wasdev.wlp.maven.plugins:liberty-maven-plugin:1.1-SNAPSHOT:create-server (default) on project com.my.company.liberty.server: java.net.SocketException: java.lang.ClassNotFoundException: Cannot find the specified class com.ibm.websphere.ssl.protocol.SSLSocketFactory -> [Help 1]

when using IBM JRE 1.7.  but works when using IBM JRE 1.8
java version "1.7.0"
Java(TM)

[2015-03-27 21:41] rea-al commented on #30
Hi @danydrouin! The create-server goal works for me with java 1.7.0 and Maven 3.1.1

[2015-03-28 02:48] rea-al commented on #7
This enhancement is done and it was added in 39fc111b1d13a7f2e6bc940cb66e0ac2b426daf2

[2015-03-28 03:45] jgawor commented on #7
Very cool. I enhanced the code a bit to work with liberty-assembly so that a server can be packaged with additional Liberty features. However, we do still need some integration tests.

[2015-03-30 13:54] rea-al commented on #7
Ok, we're going to develop some integration tests for the goals, thanks! By the way, could this issue be closed or is anything else needed?

[2015-03-30 14:44] RobertoSanchezHerrera commented on #30
Hello @danydrouin,
Are you using the IBM JRE 1.7 that is included in the WebSphere Application Server installation?

[2015-03-30 14:47] danydrouin commented on #30
@RobertoSanchezHerrera Yes I am.

[2015-03-30 15:15] RobertoSanchezHerrera commented on #30
In that case, the problem is likely to be caused by using that JRE. You can find more information in this link: http://www-01.ibm.com/support/knowledgecenter/was_beta_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_trouble.html%23rwlp_trouble__ssl01  (search for the text "If you use a JDK from the WebSphere Application Server, you might see the following error if SSL is enabled on your

[2015-03-30 15:28] danydrouin commented on #30
Thanks @RobertoSanchezHerrera.

Lets close this.  We now have a documented workaround for others incase.

[2015-03-30 15:28] #30 closed

[2015-04-01 13:29] rea-al commented on #11
I think this https://github.com/WASdev/ci.maven/pull/31 could remove all deployed wars or other applications using includes and excludes.

[2015-04-07 09:42] bwa commented on #9
A typical use case is when a snapshot is updated (mvn -Pliberty in my setup).

My pom profile liberty has
<defaultGoal>install</defaultGoal>

I can see that the dropins directory is refreshed with latest snapshot, but the server sees that as a :

[AUDIT   ] CWWKG0018I: The server configuration was not updated. No functional changes were detected.

a mvn clean install -Pliberty could clean all appl

[2015-04-08 15:55] javator commented on #23
You can do it with the **jvmOptions** config. Example:
[code]
Or do you rather mean a debug **goal**?

[2015-04-08 16:26] dkirrane commented on #23
I think that should be sufficient.
Thanks

[2015-04-08 16:26] #23 closed

[2015-04-21 14:55] rea-al opened #33 "Enable execution of integration tests in Travis"
It would be nice if the integration tests could be performed in the travis build. And also, add support to execute the integration tests by downloading a wlp automatically by just providing the version and the license code.

[2015-04-21 14:56] rea-al commented on #33
I think this pull request could do it https://github.com/WASdev/ci.maven/pull/32

[2015-04-21 17:35] veeblefetzer opened #34 "Add a parameter "os" (target OS) to the package-server goal"
Nice to have:  The "--os" option (since 8.5.5.0), see http://www-01.ibm.com/support/knowledgecenter/SSEQTP_8.5.5/com.ibm.websphere.wlp.doc/ae/twlp_setup_package_server.html?cp=SSEQTP_8.5.5%2F1-3-11-0-3-2-1-6

It saves some megabytes of the package size.

[2015-05-08 16:22] RobertoSanchezHerrera commented on #33
I merged your pull request. Closing.

[2015-05-08 16:22] #33 closed

[2015-05-15 13:30] rea-al opened #35 "Offline/online Integration Tests for the Archetype"
It would be nice if we could execute the integration tests in offline/online mode in the archetype. Currently this is only performed in the plugin's project but no in the archetype.

[2015-05-15 13:53] rea-al commented on #35
Hi @RobertoSanchezHerrera and @jgawor I think 28ca73a83582eeb4f4b07363da37f4ce72e51751 could address the issue. Could you give me some feedback, please?

[2015-05-18 08:03] matsev opened #36 "Make a new release with latest features"
My team would like an official release with the new features so that we do not need to rely on snapshot versions of the plugin (and we do not need to [enable snapshots from the Sonatype repository](https://github.com/WASdev/ci.maven#configuration)).

In particular, issue #25 "Option to install Liberty from a repository" is desired in a stable version of the `liberty-maven-plugin`.

[2015-05-18 09:13] xverges opened #37 "Install feature fails if already installed, no matter the whenFileExists value"
Even if I set `<whenFileExists>ignore</whenFileExists>`, `mvn liberty:install-feature` fails with rc=22.

It may not be an error from de plugin: calling
[code]
with `ignore`, `replace` or `fail` always results in error code 22

This is with 1.1-SNAPSHOT and installing from https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/downloads/wlp/8.5.5.5/wlp-runtime-8.5.5.5.jar

[2015-05-25 17:51] gpoul commented on #36
This would be nice for gpoul/arquillian-container-was@ba4a6dbdbdc4be9ba95f8b92556ece7ab3f2f2f6 as well.

[2015-06-01 15:49] rea-al commented on #35
Excuse me @RobertoSanchezHerrera, this was already solved in 74d74396b7d1da2f146624e21e91cf64c46c4d5e, is there anything else to add for this issue?

[2015-06-01 15:53] RobertoSanchezHerrera commented on #35
Resolving. Thank you @rea-al

[2015-06-01 15:53] #35 closed

[2015-06-09 14:41] matsev opened #39 "liberty-maven-plugin should work offline"
Liberty Maven Plugin should work offline.

**Prerequisite:**
- Make sure that you have successfully executed liberty-maven-plugin before so that you have a local copy in the `wlp-cache` folder in your local Maven repository.

**Step by Step:**
- Switch off your network connection (e.g. switch off wifi, remove your network cable, etc)
- Execute mvn liberty:create-server -o (-o is Maven's [offline m

[2015-06-10 13:16] rea-al commented on #39
Hi @matsev, yes you're right. It seems that the goals do not verify the wlp-cache folder before trying to get a new liberty from Internet. Thank you for your feedback, we're going to work to solve this.

[2015-06-10 13:22] rea-al opened #40 "Uninstall feature goal"
It would be nice the ability to uninstall features from the server as mentioned in http://www-01.ibm.com/support/knowledgecenter/SSEQTP_8.5.5/com.ibm.websphere.wlp.doc/ae/rwlp_command_featuremanager.html?cp=SSEQTP_8.5.5%2F1-3-11-0-3-2-1-2

[2015-06-10 13:45] rea-al commented on #37
Hi @xverges, the --when-file-exists parameter is used to decide what happens when installing a feature if a bundle already exist, it's not used to define what happens when a feature is already installed. Having said this, we agree that is not ideal that the build interrupts after the RC=22, we'll modify this behavior so the build continues but the user will knows that the feature was not reinstall

[2015-07-31 10:49] eifinger opened #41 "goal package-server ignores <include>"
If I add the configuration <include>usr</include> to the package goal it is ignored.
The plugin always packages all

[2015-08-03 08:47] xverges commented on #36
+1

[2015-08-05 06:10] jzinedine commented on #39
:+1:

[2015-08-06 22:25] jgawor commented on #41
I'm unable to replicate. Things are working as expected for me. Maybe you have an older version of the plugin? If not, how does your configuration look like? If you still see this problem, please re-open this issue with full logs and your pom.xml file.

[2015-08-06 22:25] #41 closed

[2015-08-06 22:38] jgawor commented on #37
This is already fixed (fixes made in the underlying Ant code https://github.com/WASdev/ci.ant/commit/97a7a50a653317629519ea8bd4451912867fe46f).

[2015-08-06 22:38] #37 closed

[2015-08-07 02:39] jgawor commented on #39
This is fixed now in #39.

[2015-08-07 02:39] #39 closed

[2015-08-07 04:11] jgawor commented on #40
Added support for it in https://github.com/WASdev/ci.maven/commit/9d04e8962370e05e5005e12b10b1ea7e8f945d57.

[2015-08-07 04:11] #40 closed

[2015-08-07 04:28] jgawor commented on #7
Forgot to close.

[2015-08-07 04:28] #7 closed

[2015-09-09 16:58] rea-al opened #44 "Enhancing "install" goal to use packaged zips on the DHE maven repo"
The Liberty Maven plugin should have a task to install (unzip) the liberty zip freemium editions currently located on the DHE maven repo, and eventually on maven central.

[2015-09-16 13:34] raustin54 commented on #36
+1

[2015-09-21 15:08] katheris opened #45 "Change install to be a goal rather than a configuration setting"
Currently installation of Liberty happens depending on what configuration properties you set. This means that you have to write a lot more code if you want the user to be able to choose per build whether they supply their own Liberty.

It would be better if we could supply one property e.g. installDir and then if we run the install goal Liberty is installed into installDir and if we don't then the

[2015-09-21 15:45] jgawor commented on #45
Can you provide examples on the profiles you define today vs. what you would like to see?

[2015-09-21 15:58] katheris commented on #45
So today I have to define:
       <profile>
           <id>install-liberty-from-plugin</id>
             <activation>
                 <property>
                    <name>libertyLicense</name>
                 </property>
            </activation>
            <build>
                <plugins>

                    <plugin>
                        <groupId>net.wasdev.wlp.maven.plugins</groupId>

[2015-09-21 16:04] katheris commented on #45
If this change was made it would also make it easier to run tests, currently in https://github.com/WASdev/sample.microservices.12factorapp/blob/master/12-factor-wlpcfg/pom.xml we have to create a profile that runs the server-status goal to force Liberty to be installed so that when we come to build the 12-factor-application project and run tests we can assume that there is already a Liberty there.

[2015-09-22 08:46] katheris opened #46 "Fix install-feature goal so you it fails if you didn't set the accept license property, or set it to false"
When running the install-feature goal with the acceptLicense parameter not set, or set to false, you get a message printed out in the console to say that you need to accept the license, but it does not give you a mechanism to do so:
![install-feature-snippet](https://cloud.githubusercontent.com/assets/11195226/10014047/7f8c8252-610e-11e5-8afd-065900ddddac.PNG)

If you run the command manually, rat

[2015-09-22 12:19] hughesj commented on #46
Hi, are you specifying the acceptLicense element. Like this:
[code]

[2015-09-22 12:49] katheris commented on #46
The issue is more that it doesn't fail gracefully if you don't specify <acceptLicense>true</acceptLicense>

[2015-09-22 12:53] katheris opened #47 "Add installUtility functionality to install all features for a server"
Using the install-feature goal you have to specifically list all of the features you want to install. On a Liberty server you can use installUtility install ExampleServer to install all of the features required for the ExampleServer server.xml. This would be a really useful enhancement to have in the liberty-maven plugin so that if you update your server.xml file you don't have to manually update

[2015-09-23 13:34] hughesj commented on #47
Should be possible to specify a private repository such as a privately run LARS instance

[2015-10-06 02:48] jgawor commented on #44
This is now supported via #48.

[2015-10-06 02:48] #44 closed

[2015-10-06 02:50] jgawor commented on #46
Just published new Ant tasks snapshot so this should behave like described in https://github.com/WASdev/ci.ant/issues/39.

[2015-10-06 02:50] #46 closed

[2015-10-06 03:11] jgawor commented on #45
There is `install-server` goal (see https://github.com/WASdev/ci.maven/blob/master/liberty-maven-plugin/src/main/java/net/wasdev/wlp/maven/plugins/server/InstallServerMojo.java) that does exactly what you want. It's not currently documented but I can fix the doc.
Let me know if that works.

[2015-10-06 04:26] jgawor commented on #45
I documented `install-server` goal in #49.

[2015-10-06 04:29] jgawor opened #50 "Refresh archetype"
Specifically:
 - Switch to require Java 7
 - Switch to use webProfile7 runtime - so that it won't require prior installation of Liberty.

[2015-10-06 05:36] jgawor opened #51 "Install features as Maven dependencies"
Extend `install-apps` goal (or provide a separate one) to install features expressed as Maven dependencies. Something like:

[code]

[2015-10-06 08:45] katheris commented on #46
Thanks

[2015-10-06 17:35] rea-al opened #53 "Update Documentation to support artifacts from DHE repository"
Currently there are some new artifacts of WAS Liberty Profile in the IBM DHE repository. This artifacts are zipped versions of the freemium editions of Liberty.

[2015-10-06 17:41] rea-al commented on #53
Changes for this issue are found in pull request https://github.com/WASdev/ci.maven/pull/54

[2015-10-09 12:49] katheris commented on #45
Thanks, you're right that is exactly what we were after, works fine

[2015-10-09 14:27] jgawor commented on #45
Great. Closing as the `install-server` goal is now documented.

[2015-10-09 14:27] #45 closed

[2015-10-10 05:48] jgawor commented on #34
Resolved by #55

[2015-10-10 05:48] #34 closed

[2015-10-11 04:09] jgawor commented on #53
I made some additional updates in https://github.com/WASdev/ci.maven/commit/19c537d72b5e06e0682b7de1b6fa73ecf8bdbc11.

[2015-10-11 04:09] #53 closed

[2015-10-19 03:52] jgawor commented on #50
Updated in #57.

[2015-10-19 03:52] #50 closed

[2015-10-19 03:53] jgawor opened #58 "Document install-apps goal"
The `install-apps` goals needs to be documented.

[2015-10-22 18:38] hughesj opened #60 "liberty-feature as packaging type"
We should be able to create a Liberty user feature in a Maven module and be able to specify IBM-API: headers, and other SUBSYSTEM.MF headers. Basically, Maven support for [this part of the product doc](http://www-01.ibm.com/support/knowledgecenter/SSD28V_8.5.5/com.ibm.websphere.wlp.core.doc/ae/twlp_feat_develop.html?lang=en). This may all be possible using the [Apache Aries ESA Maven Plugin](http:

[2015-10-24 01:19] #58 closed

[2015-10-27 16:41] MarkNSweep opened #62 "Packaging server resources"
I want to package a resources directory for a server using a property in the same way that the server.xml, bootstrap.properties etc. can be specified. i.e. <resourcesDirectory>

[2015-11-04 18:17] hughesj opened #63 "Test the 1.1 release candidate"
Once @jgawor has posted the release candidate, we should test with our existing sample repo's that use v1.0 today, to check they work with v1.1. The [12 factor app](https://github.com/WASdev/sample.microservices.12factorapp) and the new [securems](https://github.com/WASdev/sample.securems) samples would be good. For securems, there is no reactor pom yet, so you need to run mvn install on the apike

[2015-11-07 14:16] jgawor commented on #63
The Ant/Maven 1.1 release artifacts are now staged. Add the following to your `~/.m2/settings.xml` to use the staging repositories:

[code]

[2015-11-09 11:15] CroniD commented on #63
Hello guys,

since today I'm facing this error:

[ERROR] Plugin net.wasdev.wlp.maven.plugins:liberty-maven-plugin:1.1-SNAPSHOT or one of its dependencies could not be resolved: Failed to read artifact descriptor for net.wasdev.wlp.maven.plugins:liberty-maven-plugin:jar:1.1-SNAPSHOT: Could not find artifact net.wasdev.maven.parent:java7-parent:pom:1.4-SNAPSHOT in sonatype-nexus-snapshots (https://o

[2015-11-09 15:07] jgawor commented on #63
Yes. Change the version of the liberty-maven-plugin dependency to 1.2-SNAPSHOT (instead of 1.1-SNAPSHOT). 1.1-SNAPSHOT will disappear as we are currently in the process of releasing it. You can also switch the version of the dependency to 1.1 once we release it.

[2015-11-09 15:31] CroniD commented on #63
Great news, thanks a lot. :)

[2015-11-10 20:53] MisaelSalcido commented on #63
Hi guys, I've tested the 12 factor app and the apikeys using the repo that @jgawor shared and everything is working perfectly:

![12apps](https://cloud.githubusercontent.com/assets/14282642/11075356/859e766e-87ba-11e5-89da-8595a5b5f725.png)
![apikey-rp-wlpcfg](https://cloud.githubusercontent.com/assets/14282642/11075361/8ac3cf40-87ba-11e5-8094-ee710cecb345.png)
![mavenconfig](https://cloud.githubu

[2015-11-11 05:24] jgawor commented on #63
I also tested with [sample.javaee7.websocket](https://github.com/WASdev/sample.javaee7.websocket), [sample.acmeair](https://github.com/WASdev/sample.acmeair), [sample.servlet](https://github.com/WASdev/sample.servlet),  [sample.wicket](https://github.com/WASdev/sample.wicket), and [sample.ferret](https://github.com/WASdev/sample.ferret). All looks good to me as well.

[2015-11-12 17:36] jgawor commented on #36
Done! [The 1.1 release](https://github.com/WASdev/ci.maven/releases/tag/liberty-maven-1.1) is now in Maven central.

[2015-11-12 17:36] #36 closed

[2015-11-12 17:41] jgawor commented on #63
Since all tests checked out, I published the Ant tasks & Maven plugin to Maven central.

[2015-11-12 17:41] #63 closed

[2015-11-12 19:39] gpoul commented on #36
Awesome! - I'll make sure we integrate this on the Arquillian container support!

[2015-11-13 20:57] bmoryan opened #64 "web app sometimes takes too long to start when calling start-server goal"
I use maven and the 1.1 liberty-maven-plugin to run integration tests. But sometimes the tests fail because after starting, the liberty server sometimes waits up to 60 seconds to actually deploy the web app. The tests fail because the build gives up waiting for the web app to be deployed.

Even when the tests succeed, sometimes there is a gap of over 10 seconds between the server starting and the

[2015-11-13 21:03] bmoryan commented on #64
Here is another copy of messages.log with a failure. The pom file hasn't changed at all. In this case, the server doesn't try to start the web app until almost a minute after it has started running.

[code]

[2015-11-13 21:25] jgawor commented on #64
If your application takes a while to start you can also configure `verifyTimeout` property - see the [start-server goal](https://github.com/WASdev/ci.maven#start-server) for details.
The way you `pom.xml` is configured, you are essentially starting a server with the application pre-deployed. So, there is no separate deployment step, just starting the server.
How big is the application file you are

[2015-11-16 14:59] bmoryan commented on #64
Thanks for the feedback. The webapp is relatively small - 15 MBytes. Bumping up the time the server waits for the web app to start is not ideal, because I'd rather not have to wait a minute for the integration tests to start.

I'm interested in your comment about the pom setup. Should I be using the deploy goal as well, after start-server? Or maybe install-apps before start-server? I'm not clear o

[2015-11-16 16:12] bmoryan commented on #64
One other thing I should point out is that I'm on a corporate computer with McAfee scanning every file for viruses. The issue could be that the McAfee crapware is taking a long time releasing access to the file, which delays liberty from deploying it. That's why I asked if loading the web app was different, because there is no delay when using eclipse. Maybe that bypasses the scanner.

[2015-11-16 21:17] bmoryan commented on #64
I couldn't get deploy to work. Due to class loader issues I have to specify a classloader element in the webApplication element in server.xml. But the webApplication requires a location element and I couldn't figure out what to put there. The war file was copied to the dropins folder. I read the Liberrty documentation, and apparently you CAN'T give the path to the dropins folder or else it will de

[2015-11-16 21:22] bmoryan commented on #64
I have one last comment before I close this. Because the company I work for uses Websphere Liberty, I was trying to convert the build from using tomcat7-maven-plugin to this plugin. I've managed to do this in a round-about way, but maybe if someone knows an easier way to do this they could comment on this.

[2015-11-16 21:22] #64 closed

[2015-11-17 14:25] katheris commented on #64
Hi bmoryan, you can stop Liberty from scanning the dropins directory by setting
<applicationMonitor  dropinsEnabled="false"/>. Then you can treat the dropins directory in the same way that you would treat the apps directory and specify dropins as the folder that contains your app in the server.xml file.

[2015-11-17 15:55] rea-al opened #65 "Organize documentation in different docs"
It would be nice to have a clearer structure of the ci.maven plugin documentation by dividing each section in different .md files.

[2015-11-18 01:55] jgawor commented on #64
A couple of things:

1. Now that you mentioned McAfee, I think that might explain the difference. Outside of Eclipse, Maven creates a complete .war file which is then deployed to Liberty. So McAfee has to scan the entire file. When Eclipse deploys the `.war` file, it deploys it in a 'loose configuration' manner. The loose configuration application is essentially a `.xml` file that describes where

[2015-11-20 21:21] BerndGoetz opened #66 "mvn liberty:start-server fails with "Only one of tofile and todir may be set.""
Here's my configuration that leads to the error mentioned in the title:
[code]

[2015-11-23 08:24] bwa opened #67 "Support multiple applications in deploy/undeploy"
Hi. Looks like the v1.1 of the plugin does not support several <appArtifact>

I have put several applications ( a natural thing to to.. IMHO) in the configuration, but the deploy/undeploy seems to only 'see' the first one.

Is this as designed or a bug ?

If it's designed, I would like to add this as a request....

[2015-11-23 09:09] bwa commented on #67
I have looked into the code (DeployAppMojo) and it seems like the design is to deploy only one Artifact. And the ant:deploy task is also designed to deploy just one file.

Since I have cloend the project I could try to fix this locally, but should I execute several ant tasks ( one for each Artifact) or should I update the ant:deploy to deal with several files ?

My guts are telling me that maybe e

[2015-11-23 17:00] rea-al commented on #66
Hi @BerndGoetz, it seems you're using the plugin with com.ibm.websphere.wlp.maven.plugins as a groupId. Try changing it to net.wasdev.wlp.maven.plugins

[2015-11-24 03:40] jgawor commented on #66
Please reopen if you still see this problem with the right plugin.

[2015-11-24 03:40] #66 closed

[2015-11-24 10:23] BerndGoetz commented on #66
That works, great. Many thanks! I'm a bit confused about the different group ids for the plugin for liberty that are floating around, though. Is there some kind of simple rule, or an authoritative documentation source?

[2015-11-25 07:33] bwa commented on #67
Locally on my machine I created a new goal 'install-apps-to-apps', which is a copy of install-apps but copies all dependencies to the apps folder instead of the dropins. Works great, and kind of solved one of my big issues with populating a liberty server with a lot of applications which is preconfigured in server.xml. Next is to create a loose config xml file instead of copy the artifact....

[2015-11-25 16:29] bmoryan commented on #64
Regarding point 2, I prefer to run integration tests for the war as part of that war's pom file. This is preferable for a microservice type war that isn't making web service calls to other web apps. (In fact mine makes web services calls, but I just mock them with mock-server).

Projects with multiple wars that call each other seems to be the use case for install-apps. I've worked on a project in

[2015-11-25 16:45] bmoryan commented on #64
Regarding point 3. The tomcat7-maven-plugin is what I was using before websphere.

[code]

It was much tricker to get the plugin to do the same thing.

[code]

The reason I copy the war file over is because I had a lot of problems using the deploy build target. I need to create an entry in the server.xml for the web app, since I have to modify the class loader properties. But I didn't know what va

[2015-11-26 15:00] rea-al commented on #67
Hi @bwa, for the ant plugin there is a way to deploy multiple applications to the dropins directory by using a fileset but it seems this is not implemented to the Maven plugin yet. By the way it would be great if you create new issues for what you think could be good improvements to be added. I will mark this as an improvement. Thanks.

[2015-11-28 15:16] hughesj opened #68 "Cache installed features"
We cache Liberty archive jars that come from the Liberty repository into `~/.m2/repository/wlp-cache` so we don't have to download them on every build. This is consistent with how maven downloads and stores dependencies locally in the local repository. But we don't cache additional Liberty features a pom installs. So every subsequent time a build runs, the additional features are downloaded from t

[2015-11-30 22:01] MisaelSalcido opened #69 "Replace commas by spaces in the getFeaturesAsString & remove whenFileExist parameter"
In order to replace featureManager for installUtility, we need to replace the commas separators for spaces in the _getFeaturesAsString()_ method and remove the whenFileExist parameter.

[2015-12-01 05:00] jgawor commented on #69
This shouldn't matter as long as Maven/Gradle can pass an Array or List of feature names to the underlying Ant code. So, the Ant code needs to be updated to take a List or Array and Maven needs to use this function - it should not pass a String.

[2015-12-01 20:41] MisaelSalcido commented on #69
I think it's ready now, I use the _setFeatures()_ method from the Ant class to pass the features as a List of _Feature_ objects.

[2015-12-03 01:58] #69 closed

[2015-12-03 11:45] iainduncani opened #71 "Errors due to missing execution when defining packaging type as Liberty assembly"
When I set the packaging to Liberty-assembly I get this error when importing into Eclipse:

Description	Resource	Path	Location	Type
Plugin execution not covered by lifecycle configuration: net.wasdev.wlp.maven.plugins:liberty-maven-plugin:1.1:create-server (execution: default-create-server, phase: process-resources)	pom.xml	/myArtifactId-wlpcfg	line 83	Maven Project Build Lifecycle Mapping Problem

[2015-12-05 23:33] bwa opened #73 "Complete example of install-server goal"
I'm struggling with install-server goal.

I have created a pom.xml with a serverHome of a empty directory:
	<serverHome>c:/dev/wlp-2015.10.0.1-x</serverHome>

If I read the docs a mvn liberty:install-server command should install a liberty from repository, but I get this error message.

[ERROR] Failed to execute goal net.wasdev.wlp.maven.plugins:liberty-maven-plugin:1.2-SNAPSHOT:install-server (de

[2015-12-07 15:16] rea-al commented on #71
Hi @iainduncani, when you import a Maven project to Eclipse, it uses some mappings of your pom (I mean the executions of your goals) to configure your project. The warning/problem you're receiving it's produced because there's no default mapping for the `create-server` goal. You can see more information about this in this [link](https://www.eclipse.org/m2e/documentation/m2e-execution-not-covered.h

[2015-12-07 16:58] hughesj commented on #19
I'd prefer to implement this with [config dropins](https://www-01.ibm.com/support/knowledgecenter/SSEQTP_8.5.5/com.ibm.websphere.wlp.doc/ae/t_config_dropins_folder.html). We could enhance this so the server.xml snippet can be included in the <configuration> rather than a side file. Then we'd get all the goodness of maven variable substitution etc

[2015-12-07 17:38] hughesj commented on #16
Could be that we just need to finish the Ant remote-deploy issue WASdev/ci.ant#8 and then expose that in the maven plugin.

[2015-12-07 21:53] #47 closed

[2015-12-09 06:16] jgawor commented on #73
If you are installing Liberty using the repository option, you can configure where it gets installed using the [assemblyInstallDirectory](https://github.com/WASdev/ci.maven#common-parameters) parameter. The `installDirectory` parameter is used if you just want to point to an existing Liberty installation. There are a few different ways the plugin can be configured with Liberty profile. We tried to

[2015-12-09 06:54] jgawor commented on #71
Apparently there is a way for a plugin now to provide lifecycle mapping metadata for the m2e plugin. Committed changes in https://github.com/WASdev/ci.maven/commit/62a8a4c9a87dd18544c31eb32f48aea2e8e3c3b7 and published a new snapshot.

[2015-12-09 06:54] #71 closed

[2015-12-09 06:59] jgawor commented on #71
Just for future reference, here's the doc that talks about the [lifecycle mapping metadata for m2e](https://wiki.eclipse.org/M2E_compatible_maven_plugins).

[2015-12-10 17:02] bmoryan commented on #6
+1. My app has classpath issues so I have to specify a <classloader> element in the server.xml. This means I have to copy the war file to the /apps directory using a different maven plugin.

[2015-12-10 17:02] bmoryan commented on #19
+1

[2015-12-21 17:43] rea-al opened #75 "Loose config deploy"
It would be great to create a goal that allow loose-config deploy to the runtime.

[2016-01-05 15:05] hughesj commented on #75
This sounds nice, but what's the end-to-end scenario?

[2016-01-05 15:25] scottkurz commented on #75
I imagine there's a set of scenarios grouped under the theme "working with an app in Maven and WDT at the same time, seamlessly".   E.g. building and running unit/integration tests in Maven while also being able to hop over to WDT and leverage incremental compilation with a published app (that gets auto-refreshed).

E.g. in the Java batch [BonusPayout sample](https://github.com/WASdev/sample.batch

[2016-01-13 20:22] elewis787 commented on #73
Currently I am using the jar to install my liberty. I might have miss understood the install guide but how would I got about install with the liberty-plugin using the wlp jar ?

[2016-01-25 16:08] RickEyre commented on #16
+1

[2016-01-27 10:58] knoxor opened #77 "start server in debug mode"
Hi,
Is there currently a way to start the Liberty Profile plugin in debug mode? e.g. liberty:server-debug ?
This would replicate the server debug command line option for an installed Liberty Profile server.

thanks

[2016-02-01 15:10] scottkurz commented on #77
I don't see that in the doc.  I guess for now you'd have told use the **jvmOptions**or **jvmOptionsFile** parms to mimic what's in the **server** script for the debug option?

[2016-02-20 17:40] hughesj opened #78 "Remove instructions for configuring DHE"
Artifacts are now published to maven central, so remove instructions for getting them from DHE

[2016-02-22 17:17] jgawor commented on #78
Updated in https://github.com/WASdev/ci.maven/commit/392dc14268cd211fea05d1b22b4a3df90492b024.

[2016-02-22 17:17] #78 closed

[2016-02-24 05:44] #11 closed

[2016-02-24 06:14] jgawor commented on #9
Added a [clean-goal](https://github.com/WASdev/ci.maven#clean-server) and published a new 1.2-SNAPSHOT with the latest changes.

[2016-02-24 06:14] #9 closed

[2016-02-25 12:05] selste opened #80 "Problem using Maven Properties with the Liberty Plugin on Windows"
Hi,
i'm currently experimenting with WebSphere Liberty 8.5.5.8 running on Windows 7 (64 Bit).

I've downloaded a couple of sample projects, e.g. _sample.javaee7.jsonp_, and i'm running into an issue configuring the liberty-maven-plugin.
I'd like to use regular Maven properties like so:

[code]

But on starting the server i'm getting warnings like this in the console.log:
`CWWKZ0014W: Error startin

[2016-03-02 22:17] scottkurz commented on #80
From the Liberty runtime perspective, this seems to be a feature.

Can't find it in the Knowledge Center but found a couple hits, e.g.:
http://stackoverflow.com/questions/27991306/for-websphere-liberty-profile-backslash-character-inside-bootstrap-properties-f

But not sure how to get a maven property like:
    _C:/Daten/workspaces/liberty_
instead of:
     _C:\Daten\workspaces\liberty_
to sidestep

[2016-03-03 12:24] selste commented on #80
Hmm,
i think Ant provides an task to accomplish this - would be necessary to run this task via the maven-antrun-plugin to do this, but that's really ugly ... last resort only.

[2016-03-07 14:49] scottkurz commented on #80
Agree that would be ugly.

For a sample this sample, you can bypass the server.xml app entry altogether and just use the **deploy** goal to copy the WAR into _dropins_.    Since this requires a started server, you can do this with:

    <executions>
        <execution>
            <id>start-server</id>
            <phase>pre-integration-test</phase>
            <goals>
                <goal>start-

[2016-03-07 15:30] rea-al commented on #80
I think this should be handled by the ant task that it's called inside the maven plugin or let the liberty-maven-plugin to convert the separators from backslash to forward slash. @jgawor what do you think?

[2016-03-08 08:02] selste commented on #80
Well,
ideally this should be handled by the plugins - either the Maven 'Frontend' or the Ant 'Backend' - if it's a Liberty requirement, i think.
The workaround Scott has proposed - Thanks, by the way - is pretty straightforward, i think there shouldn't be any issues, i'll give it a try.
During development i'd rather skip packaging the application, that's basically the benefit of using Eclipse toge

[2016-03-08 09:03] selste commented on #80
Ah,
silly me ... just realized the solution Scott proposed is not going to work - on Windows _${project.basedir}_ will already contain a backslash (eg. _C:\[some_directory]_).

[2016-03-08 17:01] scottkurz commented on #80
That backslash shouldn't be a problem.

BTW, I copied and pasted

[2016-03-17 17:56] mcmorab opened #81 "link in install sub-parameters makes a reference to a non-existing id"
In README file there is a link that is making reference to a #install-from-repository instead of  #using-a-repository.
#install-from-repository id does not exist.

[2016-03-17 18:08] mcmorab commented on #81
fixed in #82

[2016-03-17 21:06] rea-al commented on #81
Fixed in f8d7f634b1a2ac6753ea7932b6da9347ce1ac073. Thank you.

[2016-03-17 21:06] #81 closed

[2016-03-23 08:09] mjwhale opened #83 "zipping packages causes permission issues when restored"
Is there any plan to resolve the zip packaging challenges with:

server package myserver --include=all --archive=myserver.zip

Upon restore the file permissions are not preserved, and manual hacks are required to get the unpackaged contents functioning.

Using a jar instead of zip is not suitable as it requires Java to be installed on the target.  It also requires manually tracking which version o

[2016-03-23 13:32] jgawor commented on #83
Are you saying the problem is (the permissions are lost) when unzipping or zipping? Can you show how you are using the plugin when the permissions are lost? The plugin itself tries to preserve the permissions.

[2016-03-23 14:35] mjwhale commented on #83
Thanks for the update,

<plugin>
     <groupId>net.wasdev.wlp.maven.plugins</groupId>
     <artifactId>liberty-maven-plugin</artifactId>
     <configuration>
         <install>
             <licenseCode>L-MCAO-9SYMVC</licenseCode>
             <runtimeUrl>http://xxxxxxxxxx/wlp-webProfile7-java8-linux-x86_64-8.5.5.9.zip</runtimeUrl> </install>
             <configFile>src/main/server.xml</configFil

[2016-03-23 16:43] jgawor commented on #83
Ok. I see. It is the `server package` command that's loosing the file permissions when creating `.zip` file. In my opinion, the Liberty runtime needs to be fixed to generate zip files with proper permissions. However, the Maven plugin could potentially try to update the zip to include the extra file permissions. We would have to look into that.

[2016-03-24 10:23] mjwhale commented on #83
Thanks for the update.  It also appears that the java/bin symbolic links to the commands in jre/bin/ such as jre/bin/java are also missing.

Mike

[2016-03-31 12:15] mjwhale commented on #83
I agree that this issue is with the Liberty server package function, and is caused by the JDK java.util.Zip capability - which does not support restoring file permissions.

Is this issue best resolved in the net.wasdev.wlp.maven.plugins.BasicSupport class, possibly by creating a permissions class for both the wlp/bin and java directory, determining if they exist and then applying the chmod?  There

[2016-04-04 15:52] hughesj opened #84 "Document how to create 'runnable' jar"
WAS 8.5.5.9 and the beta now allow `--include=runnable` which creates a runnable jar including Liberty and the application and configuration. Running `java -jar` on the resulting jar runs the Liberty and application packaged in the jar.
With the `package-server` goal, use configuration with <packageFile> having a .jar extension and <include> listing `runnable`. We should document this, but in such

[2016-04-08 20:10] #65 closed

[2016-04-13 17:32] mcmorab commented on #80
I think this problem it is just caused using the bootstrap.properties file.
Using Maven properties in this way doesn't cause any problem:
`<appArchive>${project.basedir}\target\${project.build.finalName}.war</appArchive> `
I propose just change the '\' to '/' when the file bootstrap.properties is written in the maven plugin. I have tried that and it works.  But please let me know what do you think

[2016-04-14 11:05] selste commented on #80
Thanks for the suggestions.
I tried the solution Scott proposed - i created a new server profile, and added a Maven profile to start and deploy the application (after upgrading to 8.5.5.9 Java 7 WebProfile).
Worked flawlessly, so a big Thanks!

Using a separate Maven profile for tasks that are executed in the CI environment is probably the best solution in any case, even though the pom.xml gets qu

[2016-04-21 10:19] hughesj opened #88 "install-feature from a LARS repository"
In #47 the `from` parameter was added. This is passed to the `installUtility --from` flag. However, this only accepts a local directory of features and metadata. It doesn't accept a report repository that is hosted on a [LARS](http://github.com/wasdev/tool.lars) To achieve that, there's going to need to be some fluffing up of a [repositories.properties](http://www.ibm.com/support/knowledgecenter/S

[2016-04-22 13:45] rea-al commented on #84
This issue is already solved in master branch c4be14988b2ca9660d90c30981aef9858febb066

[2016-04-22 13:45] #84 closed

[2016-04-22 13:55] rea-al commented on #73
Hi @mcmorab has updated the documentation for the install-server goal, this contains more examples about the usage. Take a look to the [install-server](https://github.com/WASdev/ci.maven/blob/master/docs/install-server.md#install-server) documentation.

[2016-04-25 13:29] hughesj commented on #88
`<repositories>` should have a `useDefaultRepository` flag for the plugin to set in the repositories.properties file.

[2016-04-27 01:13] sudr commented on #19
Is this capability now available in 1.2-SNAPSHOT?

[2016-04-27 11:59] sudr commented on #19
I implemented this using version 1.1 with the following constructs:
1. A packaged WLP server with my default server.xml in the usr/servers/serner-name/configDropins/defaults folder. This was pushed up to the maven repo.
2. A filtered server.xml in my project that resulted in a server.xml snippet that had the weAbpplication element with the location attribute pointing to the absolute path to the ge

[2016-04-29 16:00] scottkurz commented on #77
Example from the other issue:

[code]

[2016-05-09 21:08] rea-al commented on #28
You can now define the final name of a deployment by adding the following configuration to the deploy goal and even you can take advantage of maven properties:

      `<appDeployName>${project.artifactId}.war</appDeployName>`

[2016-05-09 21:08] #28 closed

[2016-05-11 16:27] mcmorab opened #92 "Improve the undeploy examples"
Three of the undeploy examples have the same execution id.

[2016-05-11 17:16] jgawor commented on #92
Merged. Thanks!

[2016-05-11 17:16] #92 closed

[2016-05-17 03:41] #73 closed

[2016-05-17 03:44] jgawor commented on #80
Will be fixed in 1.2 release.

[2016-05-17 03:44] #80 closed

[2016-05-23 10:06] katheris commented on #51
Could you clarify this issue, would this allow you to specify Liberty features as maven dependencies and then have them automatically installed into your server? Would you still need to add the features into the featureManager section of your server.xml file?

[2016-05-23 13:46] rea-al commented on #51
I think this issue was described to allow users to automate the installation of user features into the server, but it will require to define them in the server.xml (maybe we can automate the process too with a property or something)

[2016-06-01 15:00] iainduncani opened #95 "Setting installDirectory incorrectly gives a message complaining about serverHome"
To recreate:
1. Create a POM with the installDirectory set to an invalid value such as:

[code]
1. Run one of the maven goals (such as run-server) and observe this message:

[code]

Note that it is complaining about the serverHome attribute but it was the installDirectory attribute that was set

[2016-06-08 04:48] blindenvy commented on #83
I am experiencing the same issue. This is most definitely a bug with Liberty package-server goal. I am currently working around this issue by using an assembly and tar'ing up what is in ${project.build.directory}/liberty, which preserves the permissions. When might this issue get fixed?

[2016-06-15 12:15] andham opened #98 "Problem with git repo config"
I'm having problems working with the git repo. With my git config that works with other git repos, changes to files show up as the entire file has been changed. I suspect this has to do with EOL characters used. I'm currently on Windows with this (recommended) configuration:
[core]
    autocrlf = true

Changing this to
[core]
    autocrlf = false
    whitespace = cr-at-eol

makes it work for me wi

[2016-06-15 19:13] andham opened #99 "Document option 'wlp' for the include param of create-server mojo"
If you want to package the liberty runtime, it is possible to do so by specifying 'wlp' as include. See https://www.ibm.com/support/knowledgecenter/was_beta_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_setup_package_server.html.

The documentation of the include param (create-server mojo) should be updated with this option. Also, it would be good with a config example for doing this.

[2016-06-21 07:13] andham opened #100 "Nonintuitive default value for 'packageFile'"
The default value for the 'packageFile' parameter is in my opinion nonintuitive, especially when using the custom packaging type ('liberty-assembly'). I would have expected a file ${project.build.directory}/${project.build.finalName}.zip.

Also, when not using the custom packaging type I would argue that creating the assembly file (the zip) within the folder structure that is being packaged could

[2016-06-21 07:23] andham opened #101 "liberty-assembly packaging with packageFile configured fails"
For a project using the 'liberty-assembly' custom packaging type and having the 'packageFile' parameter configured (to '${project.build.finalName}'), the build fails:

[INFO] --- liberty-maven-plugin:1.2:package-server (default-package-server) @ liberty-paketering ---
[INFO] CWWKM2102I: Using artifact based assembly archive : com.ibm.websphere.appserver.runtime:wlp-kernel:null:8.5.5.9:zip.
[INFO]

[2016-06-21 07:38] andham commented on #101
My bad. 'packageFile' should be specified including path. In the case above it was only a file name and it seems as it can't be attached in that case.

[2016-06-21 07:38] #101 closed

[2016-10-17 11:30] gochs1 opened #103 "Support caching of WAS repository artifacts"
Hello,
We are using the WAS maven plug-ins for our local builds and throughout our DevOps build pipeline.
We experience from time to time problems and delays in accessing the WAS repository when the maven plugins access WAS features for installation.
Also for each and every build all parts are downloaded from the WAS repository again and again even if there are no changes?
As far as I could find o

[2016-11-08 17:37] katheris opened #104 "Liberty-assembly packaging type build war file"
Currently the liberty-assembly packaging type will install applications into the assembly if you provide it as a compile dependency. If I have files in src/main/java it would be cool if it did the following:
- compiled the code
- compiled any test code in src/test/java
- ran unit tests
- ran the maven war plugin to create a war file
- installed the war into the assembly

[2016-11-08 17:40] katheris opened #105 "Integration test with Liberty goal"
Currently if I want to run my integration tests against a running server I have to start the server in pre-integration and stop it in post-integration. This code all has to go into a profile that will be disabled if the user specifies -DskipTests.

It would be useful to have a goal called something like integration-test that did the following:
- ran start-server in the pre-integration lifecycle st

[2016-11-09 04:14] iainduncani opened #106 "Create package when packaging type is WAR and Liberty Maven plugin is applied"
Similar to issue #104 but when the packaging type is WAR and the Liberty Maven plugin is applied then the liberty plugin would also create a packaged server.

[2016-11-16 12:07] parkerwy opened #107 "archetypeVersion is missed in archetype usage"
Given `archetypeVersion` is not specified, maven could not determine which exact archetype to use. It always prompts a list of default archetypes, which is confusing to beginners.

[2016-11-16 17:00] FJGL commented on #6
If you have the app declared  in server.xml and only want to update it, just use:

<appDeployName>../apps/${project.artifactId}.${project.packaging}</appDeployName>

[2016-11-17 10:16] katheris commented on #106
Would this be something that happens by default? Or would you have to specify some goals in order to do this e.g.

`<groupId>net.wasdev.wlp.maven.plugins</groupId>
<artifactId>liberty-maven-plugin</artifactId>
<executions>
  <execution>
    <goals>
      <goal>install-artifact</goal>
      <goal>package-server</goal>
    </goals>
  </execution>
</executions>`

@jgawor what do you think?

[2016-11-17 10:25] katheris commented on #104
For this I would expect the user to have a project that was structured like this:
src/main
  +-java/Application.java
  +-test
     +-Test.java
     +-resources/server.xml
pom.xml

With a pom file like this:
[code]

And the result of running mvn install would be:
- code compiled
- test code compiled
- unit test run
- war built
- liberty installed
- server created
- war installed into server
- serve

[2016-11-17 10:32] katheris opened #109 "Add ability to install the artifact of a project into a server"
Currently the install-apps goal only installs apps that are listed as dependencies e.g.
[code]
This will only result in test-war2 appearing in the server. It would be good to either extend this goal so that the above pom would result in both test-war1 and test-war2 appearing in the server, or add a new goal e.g. install-artifact to install the build artifact (in the above case test-war1) into the

[2016-11-17 13:23] katheris opened #111 "All tests run against Java EE6"
The tests for the maven plugin run with apps built using Java EE 6 capabilities. There should be tests against Java EE 7 apps too.

[2016-11-17 14:53] katheris opened #112 "Deprecated warnings in build"
At the beginning of the build lots of messages are printed out saying variations of:
[WARNING] net.wasdev.wlp.maven.plugins.server.StartServerMojo#userDirectory:
[WARNING]   The syntax
[WARNING]     @parameter expression="${property}"
[WARNING]   is deprecated, please use
[WARNING]     @parameter property="property"
[WARNING]   instead.

[2016-11-20 13:29] #107 closed

[2016-12-15 03:59] JoshArmi opened #115 "install-apps goal failure - Use a resource collection to copy directories"
Hey guys,

I've been struggling with using maven to deploy a war artifact our to my local liberty server using eclipse.

Here's an excerpt from my pom.xml.
[code]

I'm running a maven build with goals package install liberty:deploy-apps

Not sure what I'm doing wrong. It looks like the console is reporting back a generic error?

Thanks,

Josh

[2016-12-15 08:00] iainduncani commented on #115
What is the error you are getting (can you put the maven output in here please)? Is it failing during the install-apps that you have configured for the pre-integration-test phase or during the deploy-apps goal that you are running from the command line?

[2016-12-19 02:20] JoshArmi commented on #115
It's failing at the install-apps part of the maven build

I've pasted the maven output with the -X flag run as well below:

[code]

[2016-12-19 11:57] katheris commented on #105
@jgawor What were your thoughts on this? We could instead have a start-test-server and stop-test-server goal that recognised the skipTests property and didn't run if it was set? The reason I think we need this is to allow people to keep server specific code out of the war file.

[2016-12-19 15:33] katheris commented on #115
Hi, what do you have in the 'dependencies' section of your maven pom.xml file? Also the war that you are trying to put into the server, is that already in your maven repository as a .war file? Finally, could you just outline what your project structure is?

[2016-12-20 01:02] JoshArmi commented on #115
This is a full copy of my pom.xml

[code]

The project structure is in the screenshot below:
![screen shot 2016-12-20 at 9 01 56 am](https://cloud.githubusercontent.com/assets/17024934/21334494/0892ae74-c693-11e6-8c27-4cc5e48d1bd3.png)

[2016-12-22 02:55] JoshArmi commented on #115
I figured out what the issue was.

One of my local projects which I was also building, was not getting built correctly as there was a directory of the same name existing at the location it was trying to use.

Hence the liberty plugin was expecting to be able to copy across a jar but was hitting a directory instead.

Not really sure how the directory was created initially, but has nothing to do wit

[2016-12-22 02:55] #115 closed

[2017-01-11 15:07] NottyCode opened #116 "Provide maven plugin for precompiling jsps"
It should be possible to compile JSPs at build time so it isn't done at runtime on first request.

[2017-01-13 23:38] ebullient opened #118 "It should be easier to use environment variables to update configuration"
There isn't a way for me to specify environment variables that should only be used at build time. If I specify serverEnv, or bootstrapProperties, a file is created in the target server directory that is then not cleaned up.

This doesn't work in some deployment environments where the server will immediately run (after the test step) in the target directory. This specifically applies to Heroku. The

[2017-01-16 21:30] NottyCode opened #120 "Download Liberty using real version numbers"
It should be possible to download Liberty using the real version number of 16.0.0.4 rather than the 16.0.0_04 required from the yaml.

[2017-01-16 21:34] #116 closed

[2017-01-16 22:44] ebullient commented on #118
in hindsight, after everything I tried, I think what would alleviate the problem is a way to specify via the maven plugin configuration, additional environment variables that should be used when invoking the task (start/run/debug), which would alleviate any need to fight over files in these cases.

That would allow me to set environment variables that should be used whenever I'm building locally,

[2017-01-16 22:46] ebullient commented on #104
Further, I would like an option to keep the war file in the server package expanded in the package (to avoid the immediate following step of auto-extracting the war file when the server is run)

[2017-01-16 22:47] NottyCode commented on #104
That should probably be the primary option. Also the tools would require a change in Liberty to make that happen since it just uses the packaging tool so you should probably take this up there instead.

[2017-01-16 22:52] ebullient commented on #104
maven is what copies the built war file into the target server dir.  I was thinking of an option that would extract the war into the target server dir, rather than copying the war file.

[2017-01-16 22:58] ebullient opened #121 "Additional config files (not dropins) require manual copy."
copying a file specifically called server.xml from a location works.. but I have to make another explicit rule to copy any other config fragments I may be including.

Is there a way to make this better?

compare https://github.com/ebullient/ebullient-java-room/tree/alice to master to see what I did (I have config snippets conditionally included based on value of ENV var)

[2017-01-17 02:27] NottyCode commented on #104
OK, I understand now. I think it could be easily argued this should be the default, rather than an option.

[2017-01-17 11:31] katheris commented on #104
I would be happy for the war file to be extracted rather than copied, since the output I am after is a Liberty server package as I user I don't require it to be a war inside the zip and the extracted war allows for dynamic updates. In fact, what if the work flow from the packaging type was:

* code compiled
* test code compiled
* unit test run
* **classes copied into server as loose config war**
*

[2017-01-17 12:32] NottyCode commented on #104
I think your order isn't quite right, wouldn't the loose config war need to be created after the server is created? If we do that order the server package tool would absolutely need to be updated to package as an expanded war rather than a war file, otherwise the maven tools would need to replace the loose war with a non-loose one.p before packaging.

[2017-01-17 12:42] katheris commented on #104
Yes, sorry I just replaced "war built" with "classes copied into server..", it should actually be:
* code compiled
* test code compiled
* unit test run
* liberty installed
* server created
* **classes copied into server as loose config war**
* server packaged
* integration test
* install packaged server into local maven repo

Does that make more sense?

[2017-01-17 13:07] NottyCode commented on #104
Yes. Just need to update the maven tools and the server package tool.

[2017-01-17 15:01] #109 closed

[2017-01-27 19:39] josephca commented on #121
How about create a new goal (e.g. 'liberty:copy-config') in liberty-maven-plugin which takes a folder as input parameter? This folder would contain 'server.xml' and other config fragments.

[2017-01-30 16:31] cthigh commented on #121
We are considering adding a new <configDirectory> parameter such that when it is defined, the configuration files in that folder are copied to the created server.  With this option, the user could just point to one folder for both their server.xml configuration file and any included configuration files.  <configDirectory> files would be copied during create-server, and if we need to add the new co

[2017-02-06 16:36] ebullient commented on #121
would that default folder be src/main/liberty/config? (per what the app accelerator is generating IIRC.. Do I have that right @katheris ?)

[2017-02-06 17:50] hughesj commented on #121
There wouldn't be a default. There is some interaction with `<configFile>` (which has its own default) and `<configDirectory>`. The current behaviour is: if `<configFile>` is not specified then use the default which is `${basedir}/src/test/resources/server.xml`.

By adding `<configDirectory>` we're giving that higher precedence over `<configFile>`. All the files in the `<configDirectory>` are used

[2017-02-07 15:44] patricktiu opened #122 "Running stop-server after mvn clean should get a warning and not an error."
Running stop-server after mvn clean should not result in build failure.  The goal should complete with a warning message and complete the build successfully.

[2017-02-07 17:54] cthigh commented on #122
Do we need a warning message if the server does not exist?

[2017-02-08 21:19] josephca commented on #122
We may reuse the existing info. message - 'server {0} stopped'. If the server directory is already cleaned up by mvn clean, we may just skip 'stop-server' call for not existing server.

[2017-02-15 15:29] cthigh opened #124 "Remove undocumented overwrite parameter"
The "overwrite" parameter was added with a default of true, but it is not documented. Remove this as parameter and always overwrite.

[2017-02-15 15:34] cthigh opened #125 "Fix appsDirectory default when the application is configured"
Change the plugin's default value for appsDirectory from always "dropins" to
"apps" if the <webApplication/> or <application/> element is defined in the server configuration. Otherwise defaults to "dropins".

[2017-02-15 15:38] cthigh opened #126 "Export the maven project configuration for tooling integration"
To enable better integration with tooling such as WDT, the tooling needs to understand the project configuration being used by the liberty-maven-plugin.  Export the project configuration in an XML format for tooling integration.

[2017-02-15 19:25] cthigh opened #127 "Provide new liberty-maven-webapp archetype"
Provide a new archetype (liberty-maven-webapp) for a single module webapp project with recommended plugins configuration (related to #106).  As part of project creation using the new archetype, create a single project structure and provide a project pom to bind the liberty plugin goals to maven build lifecycle and m2e lifecycle-mapping.

[2017-02-15 20:34] patricktiu commented on #126
A liberty-plugin-config.xml file will be created or updated if it already exists in the build target directory when the create-server goal is executed.  It contains the configuration settings of the liberty-maven-plugin, which includes
* [common server parameters](https://github.com/WASdev/ci.maven/blob/master/docs/common-server-parameters.md) values,
* [install-apps parameters](https://github.com

[2017-02-16 15:10] josephca commented on #124
I made a pull request for the change.

[2017-02-21 21:06] cthigh commented on #125
The appsDirectory parameter is injected in both InstallAppMojoSupport and CreateServerMojo for export config.  Consider if the extra parameters added to CreateServerMojo can be added to a super class.  The install app code will be responsible for deciding where the app should be installed if the appsDirectory parameter is not set.

[2017-02-22 19:26] cthigh opened #134 "install-apps goal can incorrectly name app when stripVersion is true and not a war packaging type"
When the version is stripped from the installed application and the packaging type is not war, the application name is getting named wrong.

For example,
when the packaging type is liberty-assembly and stripVersion=true, an application called TestApp would get named TestApp.liberty-assembly.

[2017-03-08 00:53] ebullient commented on #121
You lost me, @hughesj .. I like the configDirectory, I am happy to give that precedence.

You're saying I would have to explicitly specify the target director location for that to apply?

[2017-03-08 04:28] #134 closed

[2017-03-08 04:43] cthigh commented on #121
@ebullient  configDirectory cannot have a default and have a higher priority over all the other common server config parameters that also have defaults without breaking existing projects: https://github.com/WASdev/ci.maven/blob/master/docs/common-server-parameters.md#common-server-parameters.  App accelerator can use configDirectory with a new preferred default.

[2017-03-09 21:11] patricktiu commented on #122
Delivered by https://github.com/WASdev/ci.maven/commits/master?after=Y3Vyc29yOloeXMZa%2Fos2C5GquDRFVfqOnCRkKzM0

[2017-03-09 21:11] #122 closed

[2017-03-10 16:03] MarkNSweep opened #149 "Plugin needs to wait for web end points to become available"
When running a maven build which executes tests, the Liberty maven plugin only waits for a log entry which starts CWWKF0011I - indicating that the server has started. However, this doesn't mean that the web endpoints are available and so tests frequently fail, particularly when maven is being run inside a docker container and there is a noticeable difference between these two things.

[2017-03-10 23:52] cthigh commented on #149
By web endpoints, do you mean servlet endpoints?  You also said there is a noticeable difference between `these two things`.  Can you clarify which two things?

The plugin is looking for CWWKZ0001I.* which is CWWKZ0001I: Application {0} started in {1} seconds to indicate the server is started and the application ready.  By default the web container `deferServletLoad` setting is `true` which means

[2017-03-12 23:40] MarkNSweep commented on #149
I believe that we need to wait for `CWWKT0016I` e.g.
[code]
The problem is when using the plugin to run automated tests which connect to web end points (servlet or servlet derived such as JAX-RS). If you only wait for `Z0001` and report the server as being started, maven will then start to run the tests, which will fail because the web end points haven't come up yet. The order of these two entries

[2017-03-13 00:20] NottyCode commented on #149
The CWWKT0016 should never come up after the CWWKZ0001 message. The latter message is gated in the former occurring in code.

[2017-03-13 08:50] MarkNSweep commented on #149
OK, that makes sense. Looking back over some of the runs I'm looking at, what I think might be happening is that the application is taking longer than 30 seconds to come up - which is why I thought that we needed to wait for `T0016`. Below is a log from one of the runs, I don't see an entry for `T0016` - the retry message is logging I've added into the test to stop it immediately failing.
[code]

[2017-03-13 15:27] cthigh commented on #149
If the deploy ant task timed out, I would have expected you to see a CWWKM2011E message and then the task failing with CWWKM2008E: Failed to deploy the {0} application. The application start message was not found in the log file.  It doesn't sound like you are seeing either of these.

When you call the maven deploy goal, the timeout defaults to 40 seconds.  Have you changed the timeout value?

[2017-03-14 08:48] MarkNSweep commented on #149
No, we haven't changed the timeout. Here is the section from the pom.xml that is doing the deploy and test.
[code]

[2017-03-28 15:25] patricktiu commented on #127
Resloved by pull request #138.

[2017-03-28 15:25] #127 closed

[2017-03-28 15:26] #126 closed

[2017-03-28 15:46] cthigh commented on #111
I updated the latest integration test to use web-app 3.1. The test was already uses wlp-webProfile7.

[2017-03-29 04:26] cthigh commented on #104
The tools-integration branch has been updated for this issue.  When the type is liberty-assembly, the following phases are bound:

pre-clean
         liberty:stop-server
process-resources
         resources:resources
compile
         compiler:compile
process-test-resources
         resources:testResources
test-compile
         compiler:testCompile
test
         surefire:test
prepare-package

[2017-03-30 14:35] patricktiu commented on #105
@katheris  Have you consider to add the skip configuration to start-server and stop-server goal when you bind them to the lifecycle?  This way you don't need to have an extra profile defined.
[code]

[2017-03-30 15:42] cthigh commented on #105
What if the liberty-maven-plugin honored the -DskipTests or -Dmaven.test.skip flags?  http://maven.apache.org/plugins-archives/maven-surefire-plugin-2.12.4/examples/skipping-test.html says that `maven.test.skip` is honored by Surefire, Failsafe and the Compiler Plugin.  Should our plugin honor it as well during pre-/post-integration-test?

[2017-03-30 17:52] patricktiu commented on #75
You can now use install-apps goal to install the loose application configuration for the war project artifact to Liberty server in 2.0-SNAPSHOT.

Sample configuration:
[code]

[2017-03-30 17:52] #75 closed

[2017-03-30 18:13] cthigh commented on #105
After doing a bit more research, I see that there is no way to get the phase in which a Mojo is currently running.  We can get the execution id but not the phase.  It sounds like this is why plug-ins do things like the Maven Compiler Plugin and have two Mojos that share code but are bound to different phases like  compiler:compile and compiler:testCompile.  We could have liberty:start-server and l

[2017-03-30 18:20] cthigh commented on #104
This capability is now available in the 2.0-SNAPSHOT.  When you start using this version, you might want to remove bindings from your pom file.

[2017-03-30 18:21] #104 closed

[2017-03-30 19:02] patricktiu commented on #105
To save the extra configuration for liberty-assembly project, it make sense to update the StartServerMojo and StopServerMojo to recognize -DskipTest.  But I don't think we should create new start-test-server and stop-test-server goal.

[code]

[2017-03-30 19:48] cthigh commented on #111
The Java EE 7 test is not in the tools-integration branch and is run under the 2.0-SNAPSHOT build.

[2017-03-30 19:48] #111 closed

[2017-03-31 13:20] patricktiu commented on #120
The yaml file is now using the real version number.

[2017-03-31 14:22] #120 closed

[2017-03-31 19:26] josephca commented on #124
Resolved by pull request #128

[2017-03-31 19:26] #124 closed

[2017-03-31 19:27] josephca commented on #121
Resolved by pull request #129

[2017-03-31 19:27] #121 closed

[2017-03-31 19:29] josephca commented on #112
Resolved by pull request #140

[2017-03-31 19:29] #112 closed

[2017-04-03 13:24] josephca commented on #62
This has been resolved by pull request #129.

[2017-04-03 13:24] #62 closed

[2017-04-03 20:32] patricktiu commented on #95
resolved by PR #160

[2017-04-03 20:32] #95 closed

[2017-04-03 21:15] patricktiu commented on #106
We have introduced a parent pom in 2.0 that binds the package-server goal to the package phase under the <pluginManagement/> element for the liberty-maven-plugin

[2017-04-05 18:36] patricktiu opened #164 "Upgrade Liberty runtime to production supported license"
I would like to be able to upgrade as a part of a build step from the ILAN licensed liberty to an appropriate IPLA one (ILAN being unsupported and IPLA being supported if you aren't familiar with the acronym).

Scenario:
1. Download liberty license jar file from Fix central or Passport Advantage site.
1. Install it to an internal repository or local maven repository
(see https://maven.apache.org/g

[2017-04-05 21:46] patricktiu commented on #98
I have checked the source tree in master branch, we still have files checked in with CRLF that should be fixed.

./docs/clean-server.md: ASCII text, with CRLF line terminators
./docs/common-parameters.md: ASCII text, with CRLF line terminators
./docs/common-server-parameters.md: ASCII text, with CRLF line terminators
./docs/create-server.md: ASCII text, with CRLF line terminators
./docs/deploy.md:

[2017-04-10 13:18] #98 closed

[2017-04-11 20:07] josephca opened #170 "Resolve configuration variable in the location element for smart appsDirectory"
Configuration variable in the location element needs to be resolved when installApps goal tries to get smart default appsDirectory. Currently, it skips checking when location contain variable.
i.e. https://github.com/WASdev/sample.ferret/blob/master/src/main/wlp/server.xml

[2017-04-11 20:25] josephca opened #171 "Support various protocol in include location"
When server.xml contains <include optional="true" location="url"/>, smart appDirectory needs to support remote URL in order to tell if application is configured or not. Currently, it support local file path only.

https://www.ibm.com/support/knowledgecenter/SS7JFU_8.5.5/com.ibm.websphere.wlp.express.doc/ae/twlp_setup_includes.html

[2017-04-12 19:12] #170 closed

[2017-04-12 19:12] #171 closed

[2017-04-12 19:47] dnwarnock commented on #100
This has been delivered to the 2.0-SNAPSHOT release

[2017-04-12 19:47] #100 closed

[2017-04-13 13:21] josephca commented on #125
This issue is resolved by RP #169

[2017-04-13 15:05] cthigh commented on #105
After discussion, we decide that we would create new test-start-server and test-stop-server goals so that any use of -DskipTests does not also affect other intentional calls to start-server and stop-server.
The new TestStartServerMojo and Test StopServerMojo will test for the following system properties to avoid starting the server: `skipTests=true`, `skipITs=true`, and `maven.test.skip` which is

[2017-04-18 14:52] #164 closed

[2017-04-19 19:35] dnwarnock commented on #83
What operating systems systems are in use? How are the files being unzipped?

[2017-04-21 19:07] cthigh commented on #149
We got back to looking at this a bit more.  The `start-server` goal will look for CWWKF0011I first to make sure the server is started.  If you configure `<applications>comma sep app names</applications>` in the plugin configuration section, the `start-server` goal will look for the CWWKZ0001I message for each application listed.  Have you tried configuring the `applications` parameter?

[2017-04-25 12:38] juliangp opened #186 "Plugin crashes with empty bootstrap property"
If trying to set a bootstrap property like this: my.property=

The plugin crashes in StartDebugMojoSupport at line 179:

    writer.println(entry.getValue().replace("\\", "/"));

The line should be:

    writer.println((entry.getValue() != null) ? entry.getValue().replace("\\", "/") : "");

[2017-04-26 22:11] cthigh commented on #118
Hi @ebullient , we are looking on what it would take to provide this feature in the future and am wondering if this is still a big issue for you?  The way we are looking at implementing this is to allow the parameters to be defined as you suggest. Then, they would be passed to the Ant ServerTask.  When the Ant task creates the process for the `server` command, each parameter would be added to the

[2017-04-28 18:03] cthigh commented on #105
This issue has been delivered to the 2.0-SNAPSHOT.

[2017-04-28 18:03] #105 closed

[2017-04-28 18:06] cthigh commented on #99
This has been delivered to the 2.0-SNAPSHOT.

[2017-04-28 18:06] #99 closed

[2017-04-28 18:09] cthigh commented on #77
Introduced a new `debug-server` goal in the 2.0-SNAPSHOT.

[2017-04-28 18:09] #77 closed

[2017-04-28 18:19] cthigh commented on #186
This has been delivered to the 2.0-SNAPSHOT.

[2017-04-28 18:19] #186 closed

[2017-04-28 18:23] #106 closed

[2017-06-22 13:55] craigeebach opened #227 "create-server fails with "Invalid version: beta""
It appears that today 6/22 the [index.yml](http://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/downloads/wlp/index.yml) file used by the liberty-maven-plugin changed to include a new beta version.  This in turn causes the create-server goal to fail as shown below.

[code]
Our config looks like this:

[code]

Debug trace:
[code]

[2017-06-22 14:51] craigeebach commented on #227
Ah, so it appears this is an issue with wlp-anttasks.  The liberty-maven-plugin:1.2 uses wlp-anttasks 1.2, liberty-maven-plugin:2.1 uses wlp-anttasks 1.3.  Same problem happened with both versions.

[2017-06-22 18:17] cthigh commented on #227
Yes, wlp-anttasks downloads the index.yml and parses the versions contained in the file. It could cope with something like 0.0.0_beta.

[2017-06-28 12:50] hughesj opened #229 "Update 'current license' link in installation-configuration.md"
It points to 16.0.0.2 which is a year old: https://github.com/WASdev/ci.maven/blob/master/docs/installation-configuration.md

[2017-06-29 12:46] hughesj commented on #229
After opening this, I realised that we actually update the README.md for each release anyway - adding to the list of releases in maven central. So we just need to update the license link too. Something to add to the list of things todo when releasing.

[2017-07-07 15:48] hughesj commented on #227
I believe this has been fixed by rolling back a change to the index.yaml file which was incompatible with the plugin. Please close if you are no longer seeing the problem. Thx

[2017-07-07 18:04] craigeebach commented on #227
Yes, I confirm it's been fixed by reverting the index.yaml file.  Thanks.

[2017-07-07 18:04] #227 closed

[2017-07-19 10:29] lawrdenn opened #231 "Integration test failure"
I was trying to run the offline integration tests from the build instructions and provided the existing liberty installation directory when I attempted to run: **mvn install -Poffline-its -DwlpInstallDir=C:\Users\IBM_ADMIN\Documents\liberty** in the command window. It returned with the following error:

[code]

The error states that the "test-eba.eba" does not exist in the directory in which it is

[2017-07-19 10:53] #231 closed

[2017-07-19 12:21] lawrdenn commented on #231
I missed off wlp on the end of **mvn install -Poffline-its -DwlpInstallDir=C:\Users\IBM_ADMIN\Documents\liberty**

[2017-07-19 12:44] hughesj opened #232 "Running the integration tests - readme improvements"
The readme describes running with -Poffline-its and -Ponline-its.
I ran the -Ponline-its and didn't need to set -DwlpLicense. This used to be required, but doesn't look like it is anymore.
I ran -Poffline-its to use a pre-installed Liberty. I didn't have osgiBundle-1.0 installed so the build failed. We should list which profile of Liberty is required and which features are needed in the installati

[2017-07-19 12:48] hughesj commented on #232
Also, the -DwlpVersion needs to be a stable version e.g. 17.0.0.2 and not a beta version as Liberty is downloaded from maven central and the beta isn't in maven central.

[2017-07-19 14:46] cthigh commented on #232
I thought the license was needed when installing from a jar file rather than a zip, but Maven central doesn't offer a zip - only the Liberty repository offers JAR files.  The betas are only available from the Liberty repository as well.

[2017-07-19 16:50] josephca opened #233 "NPE during install server"
at java.util.Hashtable.put(Hashtable.java:459)
[INFO] 	at java.util.Hashtable.putAll(Hashtable.java:523)
[INFO] 	at net.wasdev.wlp.maven.plugins.ServerConfigDocument.initializeAppsLocation(ServerConfigDocument.java:130)
[INFO] 	at net.wasdev.wlp.maven.plugins.ServerConfigDocument.<init>(ServerConfigDocument.java:66)
[INFO] 	at net.wasdev.wlp.maven.plugins.ServerConfigDocument.getInstance(ServerCon

[2017-07-31 18:22] cthigh opened #237 "Add install-feature to the parent pom"
We have seen a couple instances lately where folks had problem because they ran install-feature too late and the features were not added to the packaged server.

First, we fixed the documentation which had a bad example.  See PR #236.

Second, suggesting that install-feature be added to the parent pom so that it is automatically added to the lifecycle and features will be installed if they are con

[2017-08-01 12:37] katheris opened #240 "Plugin should honour Liberty properties"
If I set the WLP_OUTPUT_DIR in my server.env file the Liberty plugin cannot verify that the server has started, instead I see the following message:
[code]
The plugin should honour any changes I make through Liberty properties such as WLP_OUTPUT_DIR.

Steps to reproduce:
1. Create a project using mvn archetype:
```mvn archetype:generate -DarchetypeGroupId=net.wasdev.wlp.maven -DarchetypeArtifactId

[2017-08-01 15:04] cthigh commented on #240
Looking at https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_admin_customvars.html, we should consider WLP_OUTPUT_DIR, WLP_USER_DIR, or WLP_DEBUG_ADDRESS.

[2017-08-07 17:57] cthigh commented on #240
To fix this issue, the plugin needs to be fixed to work both ways:
1) If server.env has WLP_OUTPUT_DIR set, the plugin should use that value for the outputDirectory property.  Otherwise, the plugin will continue to use the default location.
2) If outputDirectory is set to a non-standard output, that value should be added to server.env. Otherwise, when we go start the server from the command line t

[2017-08-19 14:25] girigaurav opened #245 "Query for liberty-maven-plugin: deploy goal for remote deployment"
We wish to use the liberty-maven-plugin: deploy to automate the deployment of the web application(WAR) to WAS liberty server from Jenkins using the maven pom.xml.

**Working:** We are able use the plugin to deploy to a local WAS liberty server, with configurations for serverHome and serverName.

**Not clear:** However, we wish to deploy the web application(WAR) to a remote WAS liberty server with

[2017-08-24 17:53] patricktiu opened #247 "Uable to run mvn package with a running server using the parent pom."
Since liberty-maven-app-parent:2.0 binds the package-server goal to the Maven `package` phrase, calling `mvn package` will fail with a running server that shares the same output directory.
[code]
We should configure the package-server goal with a different outputDirectory from the one used in start-server goal to allow `mvn package` to run with a running server started by `mvn liberty-start-server

[2017-08-24 20:31] patricktiu commented on #247
Resolved by pull request #248

[2017-08-24 20:31] #247 closed

[2017-09-05 16:11] lucaskuperman opened #251 "Generating server package stub for Bluemix"
Hello, I'm attempting to use this maven plugin as part of my build stage in Bluemix's 'Delivery pipeline' service (devops). Bluemix only need the usr folder to be packaged. So I ran the liberty-maven-plugin:package-server goal with include=usr, but I see that runtime is installed and packaged.
So my questions are:
- how can I avoid Liberty runtime installation (I only need to create a server stub

[2017-09-24 17:40] cthigh commented on #251
Hi @lucaskuperman, the runtime will be installed in the build folder but should not be included in the packaged zip file when you configured `include=usr`.  Does your packaged zip contain the libs folder?  Do you mind sharing your pom.xml?

[2017-09-25 12:53] hughesj commented on #251
I was able to generate a packaged server, usr part only for the [sample.ferret project](http://github.com/wasdev/sample.ferret) by adding

```<include>usr</include>```

after [line 65 of the pom.xml](https://github.com/WASdev/sample.ferret/blob/master/pom.xml#L65)

[2017-09-25 18:34] patricktiu commented on #240
Setting <outputDirectory/> is like setting the process environment variable WLP_OUTPUT_DIR before calling Liberty server command.  However, if the variable is also set the server.env file, the one in server.env file will take precedence over the process envvar.

For bullet 3, WLP_OUTPUT_DIR in server.env will override the value in `<outputDirectory/>`.

For bullet 2, I are not totally convinced we

[2017-09-26 04:44] cthigh commented on #240
When I talked to @NottyCode about writing etc/server.env for WLP_USER_DIR, his initial reaction was that we should not write that either.  Let's be consistent and not write server.env.

[2017-09-26 17:14] patricktiu commented on #240
Fixed by PR #253

[2017-09-26 17:14] #240 closed

[2017-09-27 18:34] patricktiu opened #254 "start-server goal fails if LOG_DIR envvar is set to non-default location"
When LOG_DIR environment variable is set to non default location, the start-server goal is still verifying the message.log file in the default location.

Add `LOG_DIR=/tmp/logs` in src/main/liberty/config/server.env and run `mvn install` and you get an error to start the server:

INFO] Starting server ServletSampleServer.
[INFO] Server ServletSampleServer started with process ID 30357.
[INFO] Wait

[2017-10-10 14:34] NottyCode opened #257 "start and stop goals"
It would be good if we could have goals called start and stop. These would do the same thing as start-server and stop-server goals, but would be 7 characters shorter.

[2017-10-15 03:31] #125 closed

[2017-10-16 11:50] stewartfrancis opened #263 "Documentation for WDT Servers view integration"
I'm interested in the newly available integration with the WDT servers view that was introduced in v2.0 and improved in v2.1.  How should I expect this to behave? I've tried running my POM that runs the install-server goal.  Should I expect to see the server in the Servers view in WDT?  I also tried setting the packaging type to `liberty-assembly` but that didn't seem to change the behaviour too m

[2017-10-16 15:05] cthigh commented on #263
Hi @stewartfrancis, The WDT integration support with the maven 2.0 version was for the war packaging type. The 2.1 integration support added ear integration and liberty-assembly. When you have the latest 17.0.0.3 WDT, you should see behavior described in https://developer.ibm.com/wasdev/blog/2017/06/28/wdt-in-eclipse-and-maven-integration/ for the project.

[2017-10-16 15:14] stewartfrancis opened #264 "Loose application config for ear modules prefixes targetInArchive for war with a double-slash"
I'm building a multi-module reactor with an ear file containing a nested war.  My maven-ear-plugin config looks like this:

[code]

When I deploy my apps into a liberty server, the loose deployment config has the path for the ear incorrectly prefixed with a double-slash, which WDT doesn't like.

[code]

The config is fine if I remove one of the slashes.  From reading the source, the fact that I ha

[2017-10-16 17:52] stewartfrancis opened #265 "install-apps goal fails to find apps configured in configDropins if configFile isn't explicitly supplied"
I'm loose deploying an ear file into a server created using the `install-server` goal, which comes with a pre-configured server.xml.  My application is configured using `configDropins` as I'm using application-private libraries, so need to configure the application in the server.xml myself.

If I don't explicitly supply the server.xml in my install-app config like:

[code]

Then my application con

[2017-10-16 17:57] stewartfrancis opened #266 "install-apps fails to find pre-existing applications if configDropins contains files that are not XML"
I've got a jvm.options file in my configDropins to configure system properties for my server.  install-apps fails to find my applications registered in configDropins with this file present, and generates a new configDropins file to register them.

I debugged the plugin execution and found that a SAXParseException is thrown when atttempting to xml parse this file, which aborts proper parsing of the

[2017-10-16 18:21] cthigh commented on #266
Thanks!  This might be a bug in the Gradle plugin as well.

[2017-10-16 21:53] cthigh commented on #265
Are you using the default generate server.xml?  This configuration seems to point to a server.xml location in the build directory that does not exist. (Maybe this was just an example.). Is this issue related to #266 where the jvm.options file in configDropins was causing the parse error?

[2017-10-17 00:20] stewartfrancis commented on #265
So I've got a server with some base features that I've produced in an earlier build phase.  See the `liberty` module in my source if you've managed to access it.  This build references that as an artifact in the `install server` goal, which deploys that server, which comes with its own `server.xml`.  This `server.xml` doesn't actually include any applications, they're copied into the `configDropin

[2017-10-17 00:41] stewartfrancis commented on #263
Oh! I got the prompt by setting the project's packaging type to `war` and running `Maven > Update project...` from the context menu.  Is there any chance you'd enable this functionality on other packaging types?  My natural instinct wasn't to include my server configuration in the java parts of my project.  For example I have different server configuration for the development environment vs integr

[2017-10-17 01:19] stewartfrancis commented on #263
Hmm now I'm getting the pop-up even though my packaging type is set to `pom`.  Not sure why it didn't show up before.  Maybe it needed a Maven -> Update Project running on it.

[2017-10-17 01:22] stewartfrancis commented on #263
Ah, I wonder if this is because when I switched the packaging type to `war` it added the dynamic web facet, which was maintained even after I switched it back.

[2017-10-17 04:42] cthigh commented on #263
Yes, I believe your last assertion is correct. After it was changed to a dynamic web project, it continued to work. The war packaging type causes the dynamic web facet to get turned on. I have turned on the dynamic web facet manually before for that behavior.

[2017-10-17 12:17] stewartfrancis commented on #263
Once I've added the dynamic web facet and enable automatic server creation, I get the same behaviour exhibited in #265 where my app isn't found, and a configDropins file is created, despite my app already being registered in dropins, except this time it's in WDT tooling rather than Maven - I guess it's running the same logic.  My workaround doesn't work in this case, as the cached liberty-maven-pl

[2017-10-18 15:19] cthigh commented on #263
So it sounds like you have gotten the latest WDT now: https://developer.ibm.com/wasdev/downloads/#filter/sortby=relevance;q=tools or from Eclipse Marketplace? So do you still have the jvm.options file in there that we are failing on? Running a Maven > Update Project... should trigger WDT to register the server that is created. Your full maven build creates the artifacts and WDT should recognize th

[2017-10-19 20:04] chyt opened #267 "Loose application config is missing dependencies from parent POM in liberty-maven-plugin:2.1"
Trying to update the sample.SpringBootWebsocket project (https://github.com/WASdev/sample.SpringBootWebsocket/tree/eb01210c39a49a8e81bb326c271906344ea0055d) to use liberty-maven-plugin:2.1 instead of 2.0 results in parent pom dependencies not being pulled in to the loose application.

Comparison of the loose WAR in 2.0 (first) vs 2.1 (second):

[code]

vs.

[code]

As you can see, many of the depe

[2017-10-19 20:07] chyt commented on #267
Seems like the loose WAR is just missing all transitive dependencies. For example, `spring-boot-starter-websocket` brings in `spring-boot-starter-web`, which is missing in the second loose WAR.

[2017-10-19 20:59] patricktiu commented on #267
It seems that proj.getDependencies() is not returning all transitive dependencies.  But calling proj.getCompileDependencies() returns all compile dependencies, including transitive dependency.

[2017-10-21 20:55] willlobato commented on #267
The bug continues when you build the project through the parent project. When a project is created using `liberty-archetype-ear` and in the WAR project libraries with transitive dependencies are added, the plugin creates the loose application EAR without the transitive dependencies. The transitive libraries for `spring-boot-starter-web-1.5.7.RELEASE.jar` are missing.

[code]

[2017-10-23 03:46] cthigh commented on #267
Hi @willlobato, There is a 2.1.1-SNAPSHOT build available.  Can you try it on your project or did you already try cloning the fix and trying it locally?

[2017-10-23 13:34] patricktiu commented on #254
resolved by PR #253

[2017-10-23 13:34] #254 closed

[2017-10-24 11:35] willlobato commented on #267
I have identified some problems:
* When the getMavenProject method is called, all its dependencies are downloaded to the local maven repository, and the application will not be used later. The idea would be to bring download of unecessary things to the local repository.

* The pom.xml of the liberty-maven-plugin project has the maven-project dependency that conflicts with maven-core: 3.5.0 in some

[2017-10-25 13:14] patricktiu commented on #267
Hi @willlobato,

Thanks for your comments and the solution in your PR.  There are still other places in the code that need to be fixed based on your solution and I will fix them.  In your solution, the way to get the transitive dependencies from the `proj` object is to set an `ArtifactFilter`:

[code]

[2017-10-25 16:29] chyt commented on #267
@patricktiu Can we add a test for this issue? Perhaps it can be as simple as just pulling in the sample.SpringBootWebsocket to our test cases.

[2017-10-28 02:09] chyt commented on #265
Hi Stewart, we did find an issue related to how we get the `configDropins` directory. Not sure if this is what you're talking about, but in `wlp.maven.plugins.server.PluginConfigSupport` line 261 we have:

[code]

This is specifying the location of `server.xml` in the `src` folder, which is then passed to `ServerConfigDocument` and used to determine the location of the `configDropins` directory in

[2017-10-29 12:35] jppop opened #274 "liberty-maven-plugin failed to install app with a custom application filename containing backslahes"
Hello,

The 2.1 version of the Liberty maven plugin failed to install my application (same worked with the 2.0 version).

My EAR is built wth a custom application file:
[code]

Under windows, the Liberty plugin failed to install app. I got an I/O exception "bad file name".
When I use a relative file name (eg., "target/..."), the plugin installs app successfully.
I guess it's something about backsl

[2017-10-29 12:51] jppop opened #275 "Liberty maven plugin failed retrieve a dependency"
Hello,

I'am trying to switch to the 2.1 version of the plugin. The plugin failed to install my application. It can't find a dependency (a EAR dependency bundled as a library). The same configuration works with the 2.0 version.
The maven successfully built the ear (with the same dependency).
It could be related to the use of repository mirrors.
In my environment, the central maven repository is mi

[2017-10-30 15:40] gcharters opened #276 "Misconfigured bootstrapProperties causes maven plugin to nullpointer"
I had the following in my liberty-maven-plugin config:

                    <bootstrapProperties>
                        <app.context.root>${warContext}</app.context.root>
                    </bootstrapProperties>

warContext wasn't set due to a mistake in my pom.  I got the following exception which wasn't hugely helpful.  It would be good if we produced a message that said a property was not s

[2017-10-30 16:09] stewartfrancis commented on #265
Yes, I believe that'd fix the issue, and seems like the right thing to do.  How would it behave if the `configFile` or `configDir` params were supplied? I'm assuming that by the time the `install-apps` mojo has run, the files would have been copied to the appropriate place in the target directory already?

[2017-10-30 19:44] cthigh commented on #275
It looks like your issue might be the one fixed by PR https://github.com/WASdev/ci.maven/pull/273.  Can you try the fix? You can clone ci.maven and build or use the snapshot build that includes that fix.

[2017-10-30 20:53] chyt commented on #266
Closed by PR #268.

[2017-10-30 20:53] #266 closed

[2017-10-31 11:57] stewartfrancis commented on #263
@cthigh I'm happy to close this one and re-raise against WDT if you could direct me to the appropriate place!

[2017-11-01 02:04] cthigh commented on #274
A few questions:
Can you show the part of the configuration that has backslashes?
Can you also share the liberty-maven-plugin configuration?
Is it correct that when you used v2.0 you installed an ear file and when using 2.1 you are trying to use loose application support?

[2017-11-01 09:12] jppop commented on #274
The part having backslashes is the property ```${project. build.directory}``` used in the ear plugin. It's replaced by a full path.
It's working when I used 2.0.
[code]

[2017-11-01 09:25] jppop commented on #275
It will be difficult for me to test the snaphost release or clone the sources. My company disallowed access to both repositories (github and sonatype snapshot repo).
I need to find a workaround.
May be I could download sources at home...
I will try.
Thanks.

[2017-11-01 21:32] #265 closed

[2017-11-03 14:24] jppop opened #279 "Changing the logging directory not possible"
Hello,

I have tried to change the logging directory (in the server.xml file). The plugin has not "seen" the server start.

It seems the Liberty plugin try to locate the "started message" in the default location.
[code]

[2017-11-03 15:29] cthigh commented on #279
Looks like the problem is down in the Liberty Ant plugin where we use the server output directory and does not honor `logDirectory` attribute from the `logging` element such as:
<logging logDirectory="/some/log/directory">

I opened [Changing the logging directory not possible for server start validation ](https://github.com/WASdev/ci.ant/issues/76).

You should be able to set `outputDirectory` -

[2017-11-03 20:56] #264 closed

[2017-11-07 17:38] hughesj opened #282 "wlpPluginVersion value in README unnecessarily specified"
In the README there are some sample usages of the archetypes. Where: `-DarchetypeVersion` is specified and the `-DwlpPluginVersion` is also specified as the same number, then there is some unnecessary duplication. If the archetypeVersion is specified as 2.0 then there is no need to specify the wlpPluginVersion as it will default to the same as the archetypeVersion. That's how we've implemented it.

[2017-11-08 06:34] jppop commented on #279
seems to be be duplicated. See #254.

[2017-11-08 06:34] #279 closed

[2017-11-09 15:58] #276 closed

[2017-11-09 16:33] cthigh commented on #267
@patricktiu @willlobato. Is this issue ready to be closed?

[2017-11-09 16:36] cthigh commented on #263
@stewartfrancis can this one be closed now?

[2017-11-09 16:44] cthigh commented on #233
already fixed.

[2017-11-09 16:44] #233 closed

[2017-11-09 22:13] cthigh commented on #282
I didn't update the documentation for the old archetype because it defaults to the 1.0 version of the plugin if the wlpPluginVersion is not set.

[2017-11-10 13:40] patricktiu commented on #267
Fix is 2.1.1-SNAPSHOT.

[2017-11-10 18:22] #282 closed

[2017-11-16 16:16] patricktiu opened #284 "Fail to use version range in assemblyArtifact configuration"
install-server goal doesn't support version range in `assemblyArtifact`.  We can use this version range configuration to get the latest liberty runtime from Maven central.

[code]

[code]

[2017-11-16 21:17] patricktiu commented on #274
It is a bug that `LooseEarApplication.addApplicationXmlFile()` always expects a relative path in the `<applicationXml/>` configuration element.

[code]

[2017-11-17 13:41] gcharters opened #286 "Add an archtetype for a REST service"
Seems like this is a common use case the maven plugin should support.

[2017-11-23 10:49] quirinpa opened #287 "installUtility proxy (repositories.properties file in ${basedir}/src/test/resources/)"
Hi! I haven't found a way to set up the proxy for the install utility so that liberty:install-feature works through the corporate proxy i'm under, without manually creating a repositories.properties file in ${basedir}/target/liberty/etc/. Is it possible that you allow for such a file in ${basedir}/src/test/resources/ ? Thank you!

[2017-11-24 11:49] N9209N commented on #265
@chyt

is this fix available as part of release 2.1.1?

i have an issue with the install-apps goal, where the plugin doesn't recognise the application location on sever. xml linked to a bootstrap property declared on the start-server goal.. I have specified the application location variable in the start server configuration and linked that in the server. xml file under src/test/resources but the p

[2017-11-27 16:03] cthigh commented on #265
@N9209N, the fix for this issue was delivered in 2.1.1.  Can you open a new issue and give examples of your pom.xml and configured bootstrap properties?

[2017-11-27 19:33] N9209N commented on #265
@cthigh ,

thank you for the response. I tried using the <bootstrapProperties> in both the start-server and install-apps goals and that worked for me.

I have a different query around how the <bootstrapProperties> and <bootstrapPropertyFile> works when both are used under the same goal. Does the extra properties i have under <bootstrapProperties> get added to the bootstrap file i mention or they g

[2017-11-27 21:32] cthigh commented on #265
Within the same configuration, if you have bootstrap configured multiple ways, the precedence is the following:  configDirectory, inline bootstrapProperties, and bootstrapPropertiesFile. They are not merged.

`What happens when i have a bootstrap.properties under src/test/resources and i still mention the bootstrapProperties in a goal ?`
If you call the specific goal, like liberty:create-server, i

[2017-11-27 22:02] patricktiu commented on #287
You can use the maven resources plugin to copy the file in the project pom.xml file

[code]

[2017-11-28 14:47] #274 closed

[2017-11-28 16:49] cthigh commented on #287
Hi, Make sure you put this goal in a phase that comes before your install-feature goal.  In the examples here: https://github.com/WASdev/ci.maven/blob/master/docs/install-feature.md#install-feature, we show install-feature being run at the prepare-package phase.  Running this goal at the package phase would be too late.

[2017-12-01 22:36] cthigh opened #289 "new goal to generate arquillian.xml"
Using the Liberty plugin configuration, add a new goal to generate an arquillian.xml file for running tests.  For managed container, we can automatically pull in the required known parameters and allow configuration of optional parameters.  For remote containers, we can allow them to configure all needed parameters.

[2017-12-05 15:45] #284 closed

[2017-12-06 15:21] #237 closed

[2018-01-16 07:15] andonescu opened #296 "Loose configuration does not include config files from META-INF folder"
I had an issue when I used the loose configuration deploy property, config files stored in META-INF folder from jar module were not visible.

I started to compare what the Intellij Idea Liberty Plugin does for loose configuration, and I saw that, these files are added inline.

So, at this moment, a loose configuration for a jar looks like this:

[code]

and I need something like this:

[code]

I d

[2018-01-23 18:52] cbridgha opened #298 "<assemblyArtifact><version> support LATEST"
Many sample applications would rather not continually update the specified version of the runtime package, and would be great if always selected the latest version.

[code]

[2018-01-24 14:47] cthigh commented on #298
In 4Q support was added for version ranges.  For example, you can set your version as `[17.0.0.4,)`. With that, you will get 17.0.0.4 or the latest version after that release. From a maven dependency point of view `LATEST` was phased out in Maven 3, so I don't think we would want to add that terminology. Here is a interesting SO on the subject. https://stackoverflow.com/questions/30571/how-do-i-te

[2018-01-25 14:18] prasoc opened #299 "Hard-coded Loose WAR webapp folder causing "install-apps" to be non-functional"
https://github.com/WASdev/ci.maven/blob/47265c63c3962416b7b71717ad977cf944426403/liberty-maven-plugin/src/main/java/net/wasdev/wlp/maven/plugins/applications/LooseWarApplication.java#L15

This should be a configuration property, as my app uses "/WebContent" rather than "src/main/webapp"

[2018-01-25 14:29] prasoc commented on #299
Actually I think that "install-apps" is very broken. Might need someone to take a look at how it works as a whole

[2018-01-26 20:00] cthigh commented on #299
@prasoc Do you set `warSourceDirectory`? The plugin can use maven-war-plugin configuration https://maven.apache.org/plugins/maven-war-plugin/war-mojo.html where available.  The default for `warSourceDirectory` is ${basedir}/src/main/webapp for example.

[2018-02-01 01:39] stewartfrancis opened #300 "SNAPSHOT versions don't get stripped by the install-apps goal"
The install-apps goal strips `SNAPSHOT` versions fine if the artifact being resolved is in the current reactor.  However, if you're installing an app from your Maven repository (i.e. pre-built) which uses a snapshot dependency, the version doesn't get stripped properly, as the code that tries to find the version in the file path uses `artifact.getVersion()` which will get the resolved `SNAPSHOT` v

[2018-02-01 01:41] stewartfrancis commented on #300
See #301 for a fix for this issue

[2018-02-01 21:44] chyt commented on #300
Merged.

[2018-02-01 21:44] #300 closed

[2018-02-01 21:47] stewartfrancis commented on #263
Sorry, totally forgot about this one! It's ok to close now.

[2018-02-01 21:47] #263 closed

[2018-02-03 19:05] #296 closed

[2018-02-05 22:12] cherylking opened #302 "Add debug-server reference to README"
The debug-server goal is documented here (https://github.com/WASdev/ci.maven/blob/master/docs/debug-server.md), but is not mentioned in the README.md. Include in the table of goals and link to that document.

[2018-02-07 14:45] hughesj commented on #298
Closing - delivered in v2.1.2

[2018-02-07 14:45] #298 closed

[2018-02-12 16:42] chyt commented on #6
This functionality has been released since version 2.0.

[2018-02-12 16:42] #6 closed

[2018-02-12 17:24] chyt commented on #19
Closed by #74

[2018-02-12 17:24] #19 closed

[2018-02-12 17:30] chyt commented on #83
Closed due to lack of activity. Bug was not reproducible in OS X.

[2018-02-12 17:30] #83 closed

[2018-02-28 21:34] chyt commented on #289
Closed by #305

[2018-02-28 21:35] #289 closed

[2018-03-01 17:52] cherylking commented on #299
@prasoc Did you see Cindy's question/comment? If you use the maven-war-plugin configuration, you can specify a custom source directory and that will override the default "src/main/webapp". The line right after the one you included in this issue retrieves that configuration property.

![screen shot 2018-03-01 at 11 51 57 am](https://user-images.githubusercontent.com/29436451/36860484-feec59e0-1d46-

[2018-03-01 18:08] prasoc commented on #299
I see, am new to Maven and especially Maven plugin development. So the last parameter corresponds to the variable that I would need to change?

In the end, I moved my webapp into `src/main/webapp` to satisfy the plugin. Thanks all for your help

[2018-03-01 18:08] #299 closed

[2018-03-02 14:20] cherylking commented on #275
@jppop The referenced PR fix went into release 2.2. Can you verify that your issue is resolved?

[2018-03-02 14:21] cherylking commented on #287
@quirinpa Were you able to resolve your issue with the above suggestions?

[2018-03-04 21:30] jppop commented on #275
Thanks. I will try the 2.2 plugin.

[2018-03-06 20:22] chyt opened #307 "Transient file lock issues on AppVeyor"
Looking at these two AppVeyor builds:
- https://ci.appveyor.com/project/wasdevb1/ci-maven/build/1.0.75
- https://ci.appveyor.com/project/wasdevb1/ci-maven/build/1.0.65

AppVeyor builds will occasionally fail after when trying to do a `clean-server` after `test-stop-server` because it is trying to delete the `logs/console.log` file but cannot (most likely due to a file lock). This issue is usually

[2018-03-08 23:27] chyt opened #313 "liberty-archetype-mp version should be 2.3-SNAPSHOT"
Right now shown as `2.1.3-SNAPSHOT`.

[2018-03-09 10:19] hughesj opened #314 "Use non-bounded Liberty version in archetypes"
A search for wlpRuntimeVersion in the repo shows the [following results](https://github.com/WASdev/ci.maven/search?utf8=%E2%9C%93&q=wlpRuntimeVersion&type=) with the version set to 17.0.0.4 everywhere. This is the current version, but when a new version comes out we have to do a release of the plugin. This seems an unnecessary burden. We could make the default: `[17.0.0.4,)` then the archetype wil

[2018-03-09 10:24] hughesj opened #315 "Update README to show 2.2 is latest release (archetypes)"
The descriptions on how to use the archetypes indicate 2.1.2 is the latest version - it should be updated to 2.2.
It also says:

But running:
[code]

Gives the following properties configuration:
[code]

wlpPluginVersion should be 2.2.

This is also the case for other archetypes.

[2018-04-02 17:19] patricktiu opened #316 "arquillian-tests fails to resolve net.wasdev.wlp.starters.rest:provided-pom:0.0.3"
Since app-accelerator is shutdown at the end of March 2018. Dependencies in the arquillian-tests can not be resolved from this repository
[code]

Error in the build log:

[INFO] [ERROR] Failed to execute goal on project test-configure-arquillian: Could not resolve dependencies for project net.wasdev.wlp.maven.it:test-configure-arquillian:liberty-assembly:1.0.0.Final: The following artifacts could

[2018-04-02 20:58] chyt commented on #316
Since the missing dependencies are of type `pom`, I think the solution would just be to replace them with the dependencies that they contained. For example, the  `net.wasdev.wlp.starters.persistence` pom would be replaced with

[code]

I will get in these changes within the next week or so.

[2018-04-03 14:43] vikramkhatri opened #317 "error in mvn install"
OS: CentOS 7.4
Maven version: 3.5.3
[code]

[2018-04-03 18:18] #313 closed

[2018-04-03 18:18] #316 closed

[2018-04-11 20:03] #314 closed

[2018-04-11 22:25] chyt opened #321 "Stop server bound to clean causes problems in a multi-module project with submodule dependencies"
The `StopServerMojo` defines the following dependency resolution requirements: `requiresDependencyResolution = ResolutionScope.COMPILE_PLUS_RUNTIME`. It is also bound to the Maven `clean` goal.

This creates a problem in a multi-module project with submodules that depend on each other. When running `mvn clean` from a fresh environment, the dependency resolution that is done in the `stop-server` go

[2018-04-12 00:42] patricktiu commented on #321
I think this is a bug. I reason we need the `requiresDependencyResolution` set is when the goal needs to get the dependency artifacts and `stop-sever` goal doesn't need to.

[2018-04-17 15:12] chyt commented on #275
@jppop Did 2.2 fix your issue?

[2018-04-19 08:08] orebmann commented on #321
The same phenomenon seems to be true for the create-server target. So it would be great if someone could review/refactor the dependencies for the WLPServer-Lifecycle-targets

[2018-04-20 00:41] chyt commented on #321
@patricktiu So you're saying that we should just remove `requiresDependencyResolution` from the `stop-server` goal?

I saw that you added all the `requiresDependencyResolution` parameters in this commit: https://github.com/WASdev/ci.maven/commit/ec142242d301d2980fa453a1ed44e6e9c47f1d9f. Can you explain the bug with using version ranges when `requiresDependencyResolution` is not set?

[2018-04-20 08:32] orebmann commented on #321
@patricktiu and @chyt : I would imagine all application and jsp mojos to require the dependency resolution, but not the server mojos. At the moment all server mojos contain the requiresDependencyResolution too.

[2018-04-20 12:57] patricktiu commented on #321
To support the versionRange in install-server goal, we need to be able to get wlp runtime maven dependence.  To be able to resolve it in the install-server mojo, we need add the `requiresDependencyResolution`, but I may have over done it in other mojos, `undeploy`, `server-status`, `clean-server`, `debug-server`, `dump-server`, `java-dump-server`, `run-server`, `start-server`, `stop-server`, `test

[2018-04-20 18:30] patricktiu commented on #321
@orebmann  I have tested again with install-server goal without `requiresDependencyResolution`, the plugin is still able to resolve the dependency version in both of these scenarios below. I agree with you that we can remove `requiresDependencyResolution` from all server goals.  I have PR to remove the `requiresDependencyResolution` from all server goals (reverting the changes from commit ec14224.

[2018-04-20 20:53] chyt commented on #321
#325 is merged. @orebmann Can you compile the source locally and see if it fixes your issue? If so we can close this issue.

[2018-04-23 10:24] orebmann commented on #321
@chyt I did a short test with clean, stop-server, create-server - and those worked now in a multi-module project without dependencies to the subprojects

[2018-04-25 15:26] chyt commented on #321
@orebmann What about with subproject dependencies?

[2018-04-26 16:02] lzbmo opened #327 "Could not access Liberty Repository even though enterprise proxy is not blocking"
Hi,
Trying to use liberty-maven-plugin to install liberty server like below:
[code]

But it failed at:
[INFO] (org.codehaus.mojo.pluginsupport.ant.AntHelper) Getting: https://public.dhe.ibm.com/ibmdl/export/pub/software/websphere/wasdev/downloads/wlp/index.yml

I verified that I can access the above URL through browser, meaning my company is not blocking it.

So I checked the error stack and it is

[2018-04-26 17:53] lzbmo commented on #327
It appears that this issue is caused by missing proxy configuration.

Would need help on how to configure liberty-maven-plugin so that the liberty server that the plugin installs can use my custom settings in under `{liberty.install.dir}/etc/repositories.properties` file.

From liberty documentation, I see that InstallUtility.bat can use {install.dir}/etc/repositories.properties file to access Lib

[2018-04-26 18:13] lzbmo commented on #287
Hi,
I'm having similar issue (#327) . Would it be better to have a plugin-in configuration item for developers to specify any custom settings like proxy?

[2018-04-26 18:47] chyt commented on #327
Hi @lzbmo,

I saw your reference to the other issue, so it seems like you are aware that this can be achieved using the `copy-resources` goal.

I believe that this is the best way to resolve this issue. However, I saw in your comment in #287 that you also want to be able to set this as a plugin config item for the `liberty-maven-plugin`.

As of right now there are no plans to add this feature. Add

[2018-04-26 18:54] #257 closed

[2018-04-26 20:01] lzbmo commented on #327
Hi @chyt,
Thanks for your response. This is the third time I come back to liberty-maven (after being frustrated over various issues or roadblocks in past few years). And I'm really impressed by the progress so far.

Technically I agree this is a minor issue. But given the fact that it took me a little over half day to troubleshoot, search and experiment (many ibm articles from the search have been

[2018-04-27 01:47] NottyCode opened #328 "Rework for the test case for the MP archetype"
I think some updates to the MP test should be made so it is a better example.

1. I think the creation of the client should be done in an @Before and @After method so you can get appropriate tidy up. In this test case the client is only properly cleaned up if you have a failure.

       try {
          client = ClientBuilder.newClient();
          target = client.target(URL);
       } catch (Excep

[2018-04-27 14:28] chyt commented on #327
Hi @lzbmo,

What about making the configuration even simpler? As I mentioned before there are other things that go into `<liberty-install-dir>/etc` aside from just the `repositories.properties`. Do you think it would be sufficient to just take in a reference to a `etc` folder in the source, and copy the contents of that folder to `<liberty-install-dir>/etc`?

For example,

[code]

Also I'm not sur

[2018-04-27 14:55] lzbmo commented on #327
Thanks @chyt for your response. Yes that'd be simpler. I put the second item (`<liberty-install-dir>/etc`) there to make it configurable for the plugin, because I wasn't sure if the "etc" folder would be a long term place that liberty will stick with for configs. If that is very unlikely to change, we don't need to bother with it.

[2018-05-01 16:26] lzbmo commented on #327
After some experiment and test, it appears that InstallUtility.bat of Liberty server cannot handle enterprise proxy reliable: it works for sometime and fails for the rest, even if I used the repositories.properties file to configure the proxy host, port, username and password etc.

This is very similar to how older Eclipse versions behave in my company. But Oxygen's native proxy support works perf

[2018-05-01 21:42] ericglau opened #330 "Enable feature installation from Maven repositories"
In the install-feature goal, enable feature installation from Maven repositories.  Features can be specified as before (in the configuration section or in the server.xml), or by adding them as dependencies in the pom.

[2018-05-02 12:57] lauracowen opened #332 "Retrieving docs about the pom.xml options is hard"
I've tried using the ci.maven docs several times and I really struggle to find the info I need. But it's really hard to articulate the problem...so I'll give it a go but I'm happy to chat more if someone can take a look at this.

1) I think part of the problem is that the ci.maven docs assume intimate knowledge of the Liberty runtime options. I don't think it's your responsibility to provide refer

[2018-05-04 19:51] chyt commented on #332
Hi Laura, so we worked out your issue with the package name over chat, so I think that's resolved.

You're right about the `<properties>` section, that is a Maven thing rather than a Liberty thing. Those are basically variables that can then be used anywhere else in the pom. There are also some properties that have special meaning to Maven or to certain plugins, but I don't believe that the Libert

[2018-05-04 20:10] ericglau opened #333 "Parse server.xml includes and dropins when installing features from Maven repository"
When installing features from Maven repository, it should include features specified by the following methods:

- there are other featureManager elements defined in the server config include fragments,
    https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_setup_includes.html
- and server configuration can also be defined in server configD

[2018-06-20 14:34] weberjn commented on #327
Same here.

`curl --proxy myuser:mypass@proxy:8080 https://github.com/WASdev/ci.maven/issues/327`

does work, but installUtility with same settings in etc/repositories.properties
does not.

[2018-06-25 20:49] #330 closed

[2018-06-26 19:59] cherylking commented on #321
@orebmann Can you respond to Charles last question? Can this issue be closed now?

[2018-06-26 20:00] cherylking commented on #275
@jppop We would like confirmation that your issue is resolved. I will presume that it is solved and close the issue at the end of this week if I don't hear from you.

[2018-06-27 13:00] jppop commented on #275
Sorry, I have moved on a different task.
I cant' check the issue is solved.
Regards.

[2018-06-27 13:41] #275 closed

[2018-07-02 19:04] cherylking commented on #267
The fix has been released.

[2018-07-02 19:04] #267 closed

[2018-07-02 19:05] cherylking commented on #251
See Jeremy's comment on 9/25/17.

[2018-07-02 19:05] #251 closed

[2018-07-02 19:16] cherylking commented on #245
There is an issue and related PR in ci.ant that would be useful for this.

https://github.com/WASdev/ci.ant/pull/23
https://github.com/WASdev/ci.ant/issues/8

[2018-07-02 19:26] cherylking commented on #232
Is this still an issue that needs to be addressed? @hughesj
We've changed how integration tests run in the last year. We no longer specify the license.

[2018-07-02 19:31] cherylking commented on #149
@MarkNSweep Please see Cindy's update on 4/21/17. If I do not hear back by next week, I will close this issue.

[2018-07-02 19:37] cherylking commented on #118
@ebullient Seeing no activity on this for over a year, is this something you still want or need? I will close this issue next week if I hear nothing back.

[2018-07-02 19:57] cherylking commented on #60
Do we still want this? No activity in 2.5 years. @hughesj

[2018-07-02 19:59] cherylking commented on #245
Duplicate of #16

[2018-07-05 14:00] chyt opened #341 "Parallelize tests"
Set up ports dynamically to be able to run test builds in parallel.

See https://cwiki.apache.org/confluence/display/MAVEN/Parallel+builds+in+Maven+3

For the Maven Invoker Plugin see https://maven.apache.org/plugins/maven-invoker-plugin/run-mojo.html#parallelThreads

[2018-07-05 15:38] #118 closed

[2018-07-10 17:58] chyt opened #343 "Fix map-based install kernel for Java 9"
Execution of install feature tests fail with Java 9 due to a class not found exception on the `JAXBException` class.

This is the stack trace:

[code]

The reference to the `JAXBException` class is in [this class](https://github.com/OpenLiberty/open-liberty/blob/e5245dcc553527fdc8e128bdff64ffd8f48c0946/dev/com.ibm.ws.product.utility/src/com/ibm/ws/product/utility/extension/IFixUtils.java).

It is

[2018-07-18 16:49] scottkurz opened #346 "install-apps goal deletes pre-existing configDropins when run a second time"
In the case the app is configured in POM but not server.xml, the **install-apps** goal will generate the *configDropins/defaults/install_apps_configuration_1491924271.xml* file.

If this goal is run a second time, this file is deleted (instead of re-generated).

I have a fix prototyped, but am first running through the ITs.

[2018-07-18 17:07] scottkurz opened #348 "Running offline ITs fails in assembly artifact tests"
The POM at `/liberty-maven-plugin/src/it/tests/assembly-artifact-it/pom.xml`

                    <assemblyArtifact>
                        <groupId>${runtimeGroupId}</groupId>
                        <artifactId>${runtimeArtifactId}</artifactId>
                        <version>${runtimeVersion}</version>
                        <type>zip</type>
                    </assemblyArtifact>

needs to

[2018-07-18 17:09] scottkurz commented on #232
How about the fact that certain ITs use EBAs and so require WLP (not OL)?    I spent a bit of time sorting through failures before I realized this.

This is maybe a totally different issue from the original one here (though it matches the issue description).

[2018-07-18 19:07] scottkurz commented on #348
I see at:  `/liberty-maven-plugin/src/it/tests/pom.xml` there's already a profile attempting to limit certain tests to WLP.   Let me spend some more time looking..cancelling the PR.

[2018-07-18 19:29] chyt commented on #348
So in regards to EBAs, yes we have use profiles to run tests specific to each runtime. However I think this issue should remain open, since it is true that certain tests (such as the arquillian-tests) are not compatible with offline mode. I am looking into addressing this. Also I'm thinking if we might need to add offline tests to Travis...

[2018-07-20 05:23] c-koell opened #351 "Not working documentation for installing features"
Hi !

We want to install a feature as maven artifact described on
https://github.com/WASdev/ci.maven/blob/master/docs/install-feature.md

If we try to install a feature described under example 2 we have several problems.

1.  The dependency (io.openliberty.features/features-bom/18.0.0.2) in the  dependencyManagement could not be resolved. Is there a IBM Maven Repository that we have to define ?

2

[2018-07-20 05:26] chyt commented on #351
Hi, we are still working on development of the new `install-feature` functionality. We have the code and documentation merged into the repository, but the updates are still in development and have not been released yet. We hope to make a release within the next week or two. So what you're looking at will be how the plugin will work once the release is made.

In the meantime, please refer to the do

[2018-07-20 05:33] c-koell commented on #351
A note to the global readme.md ... it uses the liberty-maven-plugin version 2.5
This version is not avalable at the moment.
https://mvnrepository.com/artifact/net.wasdev.wlp.maven.plugins/liberty-maven-plugin

[2018-07-20 05:33] c-koell commented on #351
ok thank you for the info

[2018-07-20 05:33] chyt commented on #351
Right, because that will be the next version that will be released.

[2018-07-20 05:35] #351 closed

[2018-07-20 18:39] ericglau opened #352 "Running mvn install encounters ArrayIndexOutOfBoundsException: 55297"
This is caused by https://github.com/WASdev/ci.common/pull/10
[code]

[2018-07-21 01:06] ericglau commented on #352
Duplicate of https://github.com/WASdev/ci.common/issues/11

[2018-07-21 01:06] #352 closed

[2018-07-23 14:11] scottkurz commented on #348
I looked into this a bit more.

It seems we could support something like this:

	mvn  install -Poffline-its -DlibertyInstallDir=/my/wlp -Druntime=wlp -DruntimeVersion=18.0.0.2

if we propagate properties like the **runtimeArtifactId** , **runtimeGroupId**, etc. on to the invoker plugin execution for the offline profile, like in [this commit](https://github.com/scottkurz/ci.maven/commit/2948210685c

[2018-07-31 18:49] cherylking opened #354 "Check for dependency on spring-boot-starter-webflux for SpringBoot thin goal"
Open Liberty does not currently support SpringBoot 2.0.x applications that depend on spring-boot-starter-webflux. We should detect that dependency and issue an error when the thin goal is executed.

[2018-08-03 07:21] c-koell opened #355 "Nullpointer with install-feature"
Hi.

I'm using the 2.5 version and tried to install the wsSecuritySaml-1.1 with maven dependencies
as described https://github.com/WASdev/ci.maven/blob/master/docs/install-feature.md#install-feature.

With the default maven call generated by the Eclipse Liberty Plugin
package liberty:install-apps -DskipTests=true -DskipLibertyPackage=true
will result in a NullPointerException.

This is the stacktr

[2018-08-07 11:34] scottkurz commented on #355
@c-koell do you have a sample project repo that could be used to recreate and illustrate this?

[2018-08-07 13:35] c-koell commented on #355
Hi i have attached a sample eclipse project. If i execute the Test.launch i get always the described Nullpointer
[test.355.zip](https://github.com/WASdev/ci.maven/files/2266552/test.355.zip)

[2018-08-07 15:21] scottkurz commented on #355
I recreated and posted a recreate project [here](https://github.com/scottkurz/ci.maven-355/).

Actually when I just ran `mvn package` I hit an initial error also in the install-feature area, that didn't go away until I manually installed some features with **installUtility**.   This is mentioned in my recreate.

The NPE seems specifically related to install-feature being used when the related feat

[2018-08-07 20:35] scottkurz opened #359 "In v2.5 plugin, install-feature goal doesn't download wlp/bin contents for batchManagement-1.0"
With the POM configured in [this sample](https://github.com/scottkurz/sample.batch.bonuspayout/tree/parent-25), the install-feature pulls down the **wlp/lib/features** entry for the `batchManagement-1.0` feature, but it doesn't pull down the **wlp/bin/batchManager** script that the sample's integration tests depend on.

Though irrelevant for compiling against, it's still a key part of the install,

[2018-08-07 20:37] scottkurz commented on #359
I should note I experienced this on Windows.

[2018-08-07 20:59] ericglau commented on #355
The root cause is that features in the server.xml are being converted to lowercase before installing, and the repository resolver is not handing the lower case values correctly when resolving the features to install.  Opened an issue in Open Liberty to address the repository resolver: https://github.com/OpenLiberty/open-liberty/issues/4509

[2018-08-07 21:17] scottkurz commented on #359
Noticing that issue #355 describes an issue with mixed case feature names... and batchManagement-1.0 is one... I wonder if this could be related.

[2018-08-07 21:42] scottkurz commented on #359
I get an issue with the jaxb-2.2 feature as well:

`CWWKF1203E: Unable to obtain the following features: jaxb-2.2. Ensure that the features are valid. -> [Help 1]`

[2018-08-07 21:49] scottkurz commented on #359
Both the issue with jaxb-2.2 and the issue with batchManagement-1.0 go away if I switch to Liberty 18.0.0.1 (from 18002) yet stick with liberty-maven-plugin 2.5

[2018-08-08 06:45] c-koell opened #364 "How to install new features like mpConfig-1.3"
Hi !

As described in the release notes from the new 2.5 version the features will be pulled from the Maven Central.
As i can see the new feature like mpConfig-1.3 is not listed in the features-bom and also not available in the maven central repository.

How can i install such new features ?

Thanks for any help
Claus

[2018-08-08 15:34] scottkurz commented on #355
Note that part of the "contract" here is that InstallFeatureUtil not only expects an empty Collection when the features are already installed, but it also expects to see the CWWKF1250I in this sequence:

[code]

[2018-08-08 15:44] ericglau commented on #355
@scottkurz The issue is with the install kernel not including the CWWKF1250I message as you mentioned (https://github.com/OpenLiberty/open-liberty/issues/4521), but it can be worked around with https://github.com/WASdev/ci.common/pull/17

[2018-08-08 16:39] ericglau commented on #343
This was already fixed by https://github.com/WASdev/ci.common/pull/10 and https://github.com/OpenLiberty/open-liberty/pull/4242

[2018-08-08 19:28] scottkurz commented on #346
Fixed by #347

[2018-08-08 19:28] #346 closed

[2018-08-08 19:39] ericglau commented on #364
Hi, mpConfig-1.3 is a beta feature so is not available on Maven Central.  If you are using the beta runtime, it already includes mpConfig-1.3 so there is no need to install it.

[2018-08-08 21:51] ericglau commented on #359
Opened an issue in Open Liberty to address this: https://github.com/OpenLiberty/open-liberty/issues/4530

[2018-08-09 04:54] c-koell commented on #364
Hi !

Thank you for the info. Can you point me to the docu how i can install a beta runtime ?
Normally we are using the maven artifact to install a runtime (https://github.com/WASdev/ci.maven/blob/master/docs/installation-configuration.md#using-a-maven-artifact)

grrets
claus

[2018-08-09 14:09] scottkurz commented on #364
@c-koell as mentioned [here](https://developer.ibm.com/wasdev/downloads/liberty-profile-beta/) you'd install the beta runtime via something like (this is the August 2018 beta):

[code]

[2018-08-10 04:40] c-koell commented on #364
Thank you very much for the info !

[2018-08-10 04:40] #364 closed

[2018-08-10 06:31] c-koell opened #366 "InstallFeature is working different based on server-assembly"
Normally we are installing the server with a maven artifact.

`<configuration>
   <assemblyArtifact>
      <groupId>com.ibm.websphere.appserver.runtime</groupId>
      <artifactId>wlp-javaee8</artifactId>
      <version>18.0.0.2</version>
      <type>zip</type>
    </assemblyArtifact>
</configuration>
`
And we are also installing some additional features
`<executions>
	<execution>
		<id>install-fe

[2018-08-10 19:48] ericglau commented on #366
The beta runtime requires features that apply to the beta version.  The Maven Central features do not apply to the beta version, so the plugin still uses installUtility in the case of a beta runtime.

If you are behind a proxy, you can download the a local copy of the beta repository and install features from that.  See [this page](https://developer.ibm.com/wasdev/downloads/liberty-profile-beta/)

[2018-08-13 07:55] c-koell commented on #366
Hi !

Thank you very much for the clarification.
It's really amazing how fast inquiries are answered ;-)

claus

[2018-08-13 07:55] #366 closed

[2018-08-13 15:25] ericglau commented on #355
@c-koell This issue is fixed in liberty-maven-plugin 2.6-SNAPSHOT
If you want to try it, edit your POM to use version 2.6-SNAPSHOT and also add this section in the POM:
[code]

[2018-08-14 09:05] c-koell commented on #355
Thank you for the info. I will test it ...

[2018-08-14 13:39] scottkurz opened #371 "Not clear which goal to use to update server configuration"
In the use case where I have a server configured with the plugin and a loose application deployed, I can "refresh" the app simply by `mvn compile`.

It's not overly obvious how to simply refresh the server config.  Actually `mvn liberty:create-server` works, but as a new user I'm not sure how obvious this would be.

I wonder if something like an `update-server` goal would make this more apparent?

[2018-08-16 16:12] ericglau commented on #359
This is fixed in https://github.com/OpenLiberty/open-liberty/issues/4530 which will be in Open Liberty 18.0.0.3.

[2018-08-17 19:39] cherylking commented on #355
@c-koell Can you give us an update? Did the snapshot resolve your issue?

[2018-08-20 06:44] c-koell commented on #355
I have checked the 2.6-SNAPSHOT and it works now .. thank you.

[2018-08-20 14:10] #355 closed

[2018-08-29 14:49] stewartfrancis opened #374 "InstallServerMojo fails with: Unable to find artifact version of foo:liberty in either project dependencies or in project dependencyManagement."
We're using the install server mojo, to provision a development environment from a shared server that's assembled in an earlier part of our reactor build.  Binding the liberty maven plugin to the `generate-resources` phase of the build so it runs sufficiently early for us.

We've previously been taking advantage of the functionality which fills in the version of maven dependencies from the `<depen

[2018-08-29 14:53] stewartfrancis commented on #374
I took a quick look at `AbstractLibertyMojo` and it looks like it was relatively recently updated to use the Maven 3 API, rather than using what was previously provided by `MojoSupport`

`resolveFromProjectDependencies` is now using the Maven 3 API: `MavenProject.getArtifacts()`

The javadoc for this method says that the contents are lazily populated.  I also noted that unlike `InstallAppsMojo`, `

[2018-08-29 15:04] stewartfrancis commented on #374
I've attached a PR, but I don't know if resolving dependencies is the right thing to do.  I can confirm it did fix the issue for my plugin usage though!

[2018-08-29 20:17] chyt commented on #374
It looks like we just did not consider the other method of installing the Liberty server. I've approved and merged your PR.

[2018-08-29 20:17] #374 closed

[2018-08-30 01:12] stewartfrancis commented on #374
Thanks!  Any chance this will be available in a snapshot build soon?

[2018-08-30 21:04] stewartfrancis commented on #374
Great, all working again here, thanks very much!

[2018-09-06 21:40] anjumfatima90 opened #377 "Add documentation for Spring Boot support"
Add the documentation for installing Spring Boot applications on Liberty using liberty-maven-plugin.

[2018-09-07 15:03] patricktiu opened #381 "install-feature should not require acceptLicense for installing openliberty feature."
Currently, when you try to install openliberty features on top of an openliberty runtime, it requires the acceptLicense=true.  Since all openliberty featues are under the same EPL license as the openliberty runtime, it would be nice if the install-feature goal does not require acceptLicense.

[code]

[2018-09-07 15:05] patricktiu commented on #381
@ericglau is looking into an enhancement to lift the acceptLicense requirement when installing Open Liberty features on top of an Open Liberty runtime during Maven build.

[2018-09-07 15:07] chyt commented on #377
Closed by #378.

[2018-09-07 15:07] #377 closed

[2018-09-10 20:29] scottkurz commented on #359
Seems there's nothing to do here, but will leave this open to verify once 18.0.0.3 becomes available.

[2018-09-11 19:06] anjumfatima90 opened #382 "Add meta-data to the packaged server JAR that gives some information about the packaged application"
For spring boot apps, something like
[code]

[2018-09-12 13:17] tjwatson commented on #382
Some more background.  If the package server option is used with a Spring Boot project then the Spring Boot application uber JAR will be replaced with the Liberty uber JAR which ends up embedding the pre-thinned Spring Boot application JAR and its lib.index.cache as a deployed application in the Liberty uber JAR.

From the perspective of the developer that LIberty uber JAR is still the Spring Boot

[2018-09-12 13:28] tjwatson commented on #382
I think this issue will need to be handled by open-liberty because the package server operation for the Liberty plugins simply calls the open-liberty script to package the server.  The logic that actually creates the Liberty executable JAR is all in open-liberty.  There is nothing that can be done to change the JAR manifest from the manen/gradle plugin side.

We will end up doing this in https://g

[2018-09-12 18:53] #382 closed

[2018-09-13 12:06] d-lane opened #384 ""mvn install liberty:run-server" fails on Linux"
Using the pom.xml generated by the [Liberty yeoman generator](https://github.com/ibm-developer/generator-ibm-java-liberty), running `mvn install liberty:run-server` fails with the error `[ERROR] Failed to execute goal net.wasdev.wlp.maven.plugins:liberty-maven-plugin:2.1.2:test-start-server (test-start-server) on project dave1: CWWKM2002E: Failed to invoke [/home/dlane/dave1/target/liberty/wlp/bin

[2018-09-13 14:42] cherylking commented on #384
@d-lane Can you attach the pom.xml here?

[2018-09-13 16:06] d-lane commented on #384
`pom.xml`
[code]

[2018-09-13 16:30] cherylking commented on #384
@d-lane Thanks for the pom.xml. We test on Windows, Linux and Mac. From the error shown, we don't know why it would be failing. Would you mind bumping the liberty-maven-app-parent version to 2.6 to see if that resolves your issue?

[2018-09-14 13:33] d-lane commented on #384
@cherylking Same error unfortunately

[2018-09-18 17:54] ericglau opened #386 "assembly-it fails with wlp 18.0.0.1"
In liberty-maven-plugin/pom.xml, if we propagate the `runtime` property into the integration tests like [shown here](https://github.com/ericglau/ci.maven/commit/3e5d6848598abc4537fd6b0f452aa267b69d2e9a), then the wlp-specific tests in liberty-maven-plugin/src/it/tests/pom.xml will be run.

When running wlp 18.0.0.1 with the above, `assembly-it` fails with the following error:
[code]

The `liberty-

[2018-09-18 18:00] ericglau opened #387 "basic-it fails with wlp 18.0.0.2"
In liberty-maven-plugin/pom.xml, if we propagate the `runtime` property into the integration tests like [shown here](https://github.com/ericglau/ci.maven/commit/3e5d6848598abc4537fd6b0f452aa267b69d2e9a), then the wlp-specific tests in liberty-maven-plugin/src/it/tests/pom.xml will be run.

When running wlp 18.0.0.2 with the above, `basic-it` fails with the following error:
[code]

The `liberty-mav

[2018-09-18 18:40] ericglau opened #388 "test-assembly-with-code-it fails with wlp 18.0.0.1"
In liberty-maven-plugin/pom.xml, if we propagate the `runtime` property into the integration tests like [shown here](https://github.com/ericglau/ci.maven/commit/3e5d6848598abc4537fd6b0f452aa267b69d2e9a), then the wlp-specific tests in liberty-maven-plugin/src/it/tests/pom.xml will be run.

When running wlp 18.0.0.1 with the above, `test-assembly-with-code-it` fails with the following error:
[code]

[2018-09-18 19:06] ericglau commented on #348
Opened the following issues for the three modules mentioned above:
#386, #387, #388

[2018-09-19 02:47] ericglau opened #390 "wasdev.sampleEE7.it.EndpointIT fails Travis on Java 9 (with OL 18.0.0.3)"
On Travis builds, all `oraclejdk9` builds fail at `wasdev.sampleEE7.it.EndpointIT`.

The failing tests are using openliberty-runtime 18.0.0.3 regardless of the current `runtime` and `runtimeVersion` in the Travis configuration.

Full log is attached here: [log.txt](https://github.com/WASdev/ci.maven/files/2395209/log.txt)

[code]

[2018-09-19 18:37] #381 closed

[2018-09-19 20:40] chyt commented on #390
The error message in `messages.log` is:

[code]

This can be worked around by excluding the `jaxws-2.2` feature, which is attempting to pull in the `SOAPException` class.

[2018-09-20 19:16] chyt commented on #390
Closed by #391.

[2018-09-20 19:16] #390 closed

[2018-09-21 15:13] scottkurz commented on #371
The same applies for, say, generated the boostrap.properties from the POM config.

[2018-09-21 17:10] chyt commented on #359
Fixed in 18.0.0.3.

[2018-09-21 17:10] #359 closed

[2018-09-25 19:54] chyt commented on #384
Can you post the contents of the server's `messages.log` and `console.log`?

[2018-09-27 11:18] d-lane commented on #384
`messages.log`:
[code]
`console.log`:
[code]

[2018-10-03 17:16] stewartfrancis opened #396 "install-apps goal does not successfully find reactor projects for loose application config"
Running a maven build which creates a local liberty installation with our `ear` dependency from the reactor build installed, using the loose application support.

Our `ear` dependency currently has a `SNAPSHOT` version, which I discovered from debugging doesn't get found by in the reactor, as the code that compares the artifact co-ordinates is using `Artifact.getVersion` which returns a resolved s

[2018-10-03 18:29] #396 closed

[2018-10-04 12:38] stewartfrancis commented on #396
Thanks! Any chance of a snapshot build with this in?

[2018-10-04 16:44] chyt commented on #396
Published 2.6.2-SNAPSHOT: https://oss.sonatype.org/content/repositories/snapshots/net/wasdev/wlp/maven/plugins/liberty-maven-plugin/2.6.2-SNAPSHOT/

[2018-10-04 16:47] stewartfrancis commented on #396
Great, thanks!

[2018-10-18 04:07] edwinquaihoi opened #402 "Upload Runnable Jar as artifact during maven deploy"
During a maven deploy operation the uploaded artifact is changed to a zip file rather than the intended runnable jar file.

https://stackoverflow.com/questions/52866737/openliberty-maven-plugin

[2018-10-23 19:33] chyt commented on #402
I added a comment to your SO question here: https://stackoverflow.com/questions/52866737/openliberty-maven-plugin#comment92668611_52866737

Can you address it so we can help you further?

[2018-10-23 19:39] cherylking commented on #371
Let's just update the documentation to make it clear the server config gets updated for those various goals.

[2018-10-23 20:02] cherylking commented on #354
@anjumfatima90 Is the support for spring-boot-starter-webflux in Open Liberty now?

[2018-10-23 20:08] anjumfatima90 commented on #354
Yes, In 18.0.0.3

[2018-10-23 20:19] cherylking commented on #354
Closing since this is no longer an issue.

[2018-10-23 20:19] #354 closed

[2018-10-25 20:30] cherylking commented on #384
@d-lane As mentioned in the above referenced issue, we investigated further and verified that the bin/server start command was failing when running Liberty in Windows Subsystem Linux (WSL). So Liberty has not been tested in WSL at this point. We would like to understand your use case. Is there a compelling reason that you are not using a Windows JVM?

[2018-10-26 09:44] d-lane commented on #384
@cherylking There is no reason that I can't use a Windows JVM (and when I run the same command on Windows it works without error), however I do most of my development on the Linux side via WSL so it was natural for me to try to run Liberty on WSL too. It's not a huge issue, but as the popularity of WSL increases supporting it might become more important.

[2018-10-26 12:52] cherylking commented on #384
@d-lane Thanks for the explanation. I will pass along your feedback to the Liberty architects.

[2018-10-31 16:23] chyt commented on #51
This functionality was added as of plugin version 2.5.

[2018-10-31 16:23] #51 closed

[2018-11-05 19:37] cherylking commented on #384
I'm closing this issue since Liberty is not currently supported in WSL. It's worth to note that support for WSL would need to be added to both OpenJ9 and Open Liberty in order for WebSphere Liberty to support it.

[2018-11-05 19:37] #384 closed

[2018-11-07 19:16] #386 closed

[2018-11-07 19:16] #387 closed

[2018-11-07 19:16] #388 closed

[2018-11-13 15:39] #371 closed

[2018-11-13 16:15] scottkurz commented on #371
Looks good..thanks.

[2018-11-14 21:28] #149 closed

[2018-11-16 16:18] #327 closed

[2018-11-21 16:58] rajivnathan opened #407 "Request for loose config build output to contain all dependencies"
I'm using the liberty maven plugin to run maven builds and produce a loose config app for liberty. Locally we can use loose config for that purpose with mvn compile for updates when only java files have been modified and that works well but need something better for handling quick updates in a remote environment.

Would like to use loose config for remote as well because it'll make updates to the

[2018-11-21 17:11] rajivnathan commented on #407
Here's a sample of the loose config contents demonstrating the problem with the commons-math3-3.6.1.jar dependency.

[code]

[2018-11-30 22:03] doychin opened #408 "When packaging server with app into uber jar extensions folder is not included in the final deployment"
We try to create uber jar for one war file and we use maven to do that
mvm package-server fails to include the additional extensions we add in the directory of the application where it is deployed before it is packaged into uber jar.

This is a behavior we see with open liberty 18.0.0.3

Here is part of our pom.xml

             <plugin>
                <groupId>net.wasdev.wlp.maven.plugins</group

[2018-12-05 16:03] scottkurz commented on #408
Noting the connection to https://github.com/OpenLiberty/open-liberty/issues/5881 .   To be honest, at this point I'm not sure it is an issue with liberty-maven-plugin.   We can leave both issues open for now, until someone from IBM investigates.

[2018-12-05 16:10] doychin commented on #408
maven plugin uses the code for ant that actually calls open liberty server code to make the packaging so it is open-liberty problem. That is why I initially posted it there.

[2018-12-06 16:36] scottkurz commented on #408
Yes, and I could've just asked there for your POM.  Well, sorry for making you do the extra issue;  I'd thought using this repo might help.

[2018-12-10 22:10] cherylking commented on #402
@edwinquaihoi Please provide the info Charles has requested in the SO question so we can follow up on this issue. Thanks.

[2018-12-11 11:30] paulmccrady opened #410 "Jar packaging type not supported by install-apps"
I am trying to build and deploy a Spring Boot jar on my local machine. I do not see a jar deployed to my server apps directory. When running maven with -X option I see the following output during the install-apps goal:
[DEBUG] The project artifact cannot be installed to a Liberty server because jar is not a supported packaging type.

[2018-12-11 16:16] cherylking commented on #410
@paulmccrady When using the Liberty Maven Plugin to deploy a Spring Boot jar, there are two things you need to specify.

1) In the pom.xml, you need to specify `<installAppPackages>spring-boot-project</installAppPackages>` in the `<configuration>` of the liberty-maven-plugin.

2) You need to provide a server.xml that includes the correct Spring Boot feature for your application (either springBoot-

[2019-01-03 16:25] cherylking commented on #410
@paulmccrady After reading my comments above, were you able to resolve your issue?

[2019-01-14 16:53] cherylking commented on #410
@paulmccrady Given no response in the past month, I'm going to presume you got past the issue. Feel free to reopen and provide an update if that is not the case.

[2019-01-14 16:53] #410 closed

[2019-01-14 16:55] cherylking commented on #402
@edwinquaihoi Since no updates have been made to this issue in the past 3 months, I am closing the issue. Feel free to reopen and provide the additional info requested if the issue persists.

[2019-01-14 16:55] #402 closed

[2019-01-14 17:12] cherylking commented on #407
@rajivnathan Just wanted to restart the discussion here. After talking with Charles, the use case you describe is not supported. This is a request for enhancement. If you want to contribute a change to address this use case, that would be great. Otherwise, we can leave the issue open and see when/if we can prioritize it.

[2019-01-15 10:24] gcharters opened #413 "Install message not as helpful as it should be"
I had a server xml with:

[code]

This built fine.

I then had a server xml with:

[code]

It failed with the following error:

[code]

The error message suggests that all the features could not be obtained, but I know that's not the case because it worked for jaxrs-2.1 in the previous build.  My error was I should have had mpOpenAPI-1.0, not 3.0, but that's far from clear from this message.

[2019-01-15 21:02] cherylking commented on #413
The message is defined here: https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.install/resources/com/ibm/ws/install/internal/resources/InstallKernel.nlsprops

And sent from here (line 277):
https://github.com/OpenLiberty/open-liberty/blob/2b79af7ecc21e38fe9f613879ef5d1ce973d0274/dev/com.ibm.ws.install/src/com/ibm/ws/install/internal/ExceptionUtils.java

[2019-01-24 09:49] c-koell opened #414 "Question / Bug about looseApplication Configuration ?"
Hi !

First i don't know if it is a bug or a missing feature or a miss configuration from my side :-)

I have a webapplication running in eclipse with the liberty-maven-plugin and the looseApplication set to true. All works fine.
Now i want to add a dependency to the webapplication that we also have as a project in the same workspace. If we look at the pom.xml the dependency is displayed as a proj

[2019-01-24 15:03] chyt commented on #414
Hi, what do you mean when you say `add a dependency as a project in the same workspace`? In the loose app we have to point to compiled artifacts, so are you asking to point to the archive located in that project's `target` folder instead of the one that is installed to your local Maven repository?

[2019-01-25 06:13] c-koell commented on #414
Hi !
Sorry for the unclear description. Yes it would be great if it would point to the target folder.
I have tried to change the SampleWebApp.war.xml and it works fine.
From
`<file sourceOnDisk="C:\Users\myuser\.m2\repository\sample\1.0.0\sample-1.0.0.jar" targetInArchive="/WEB-INF/lib/sample-1.0.0.jar"/>
`
to
`<file sourceOnDisk="C:\Dev\Sample\SampleProject\target\classes" targetInArchive="/WEB-I

[2019-01-25 13:28] #413 closed, assigned to nobody

[2019-01-25 16:21] chyt commented on #414
So right now, I believe the only way you can get functionality like that is if you set the other project as an EAR module. The resulting loose ear XML will reference the archive in that project's build directory. See this code: https://github.com/WASdev/ci.maven/blob/339461cf03a761031a6df069fc39d115970564bf/liberty-maven-plugin/src/main/java/net/wasdev/wlp/maven/plugins/applications/InstallAppMojo

[2019-01-25 21:49] ericglau opened #415 "Installing features from server.xml and pom.xml lists duplicates with different capitalization"
When installing features that are listed in both server.xml and pom.xml, the plugin displays the features twice but with different capitalization.  Features should not be case sensitive, so the list should not have duplicates.

For example, the following message is displayed when installing features (notice mpconfig-1.3 and mpConfig-1.3 are both listed):
[code]

[2019-01-28 07:31] c-koell commented on #414
Hi !

Thank you for the info. I will give it a try...

[2019-01-28 07:31] #414 closed

[2019-01-28 10:36] N9209N opened #417 "execute access for server.sh file on unix/Linux"
we are using liberty maven plugin version 2.1.1 to test and package the war file. the build works fine on windows machine but it fails when it is run on a Linux machine. the error message suggests that the server.sh file doesn't have execute rights tagged to it. Is there any way to overcome this issue without modifying the liberty package and add execute permission on the server.sh file?

[2019-01-28 15:02] chyt commented on #417
Hi, you can add execute permissions by running “chmod +x server.sh”.

On Mon, Jan 28, 2019 at 4:36 AM N9209N <notifications@github.com> wrote:

[2019-01-28 15:34] #415 closed

[2019-01-28 15:35] N9209N commented on #417
I do not want to modify the liberty package manually. is there any way the plugin can handle this internally when running on a unix/Linux machine.?

[2019-01-28 16:13] chyt commented on #417
Not at the moment. If you want to automate this, one option is using the `maven-antrun-plugin` and binding it to run after `create-server`. An example can be found on this StackOverflow post: https://stackoverflow.com/a/32144404/634324

[2019-01-28 23:33] N9209N commented on #417
thank you. I will try this option. is there any chance that this can be included within the plugin in a future release ?

[2019-02-03 15:26] sithmein opened #418 "Enable install/deploy of a liberty-assembly as Jar"
Currently if you have a project of type _liberty\_assembly_ and deploy (or install) it with Maven it always gets deployed as a ZIP file even if a runnable Jar has been created. This seems to be caused by the _liberty-assembly_ artifact handler which sets the extension to `zip` and there is no way to change that (at least I haven't found one). It would be really great if the deployed artifact could

[2019-02-06 17:19] chyt commented on #417
If you are downloading the runtime fresh from Maven Central then the server script should have the correct permissions already defined. So I'd like to get some more information on the underlying cause of this issue before making a decision on whether we need to check and fix this in the plugin. Can you answer these questions?

- Does this issue still exist in the latest Maven plugin version (2.6.4

[2019-02-06 17:32] chyt commented on #418
I've been able to replicate this issue and so far I have not found a solution either. I've tried using `MavenProject.setPackaging()` to dynamically change the packaging type to war when the user indicates that they want to set the runnable JAR as the project artifact. However, it looks like this value is either not being propagated or not being respected by the `maven-install-plugin`. You can try

[2019-02-06 18:46] sithmein commented on #418
Actually, the first approach you mentioned is what I'm doing already. Still the Jar gets installed/deployed as a ZIP. Here's my (slight stripped down) pom:

[code]

[2019-02-06 20:12] chyt commented on #418
The first approach meaning splitting up the build? I don't see that in the pom that you shared. I would actually envision a multi-module project with one pom that builds the war and one that builds the runnable JAR from the war defined as a dependency.

By the way, I noticed you're copying the same configuration to each of your executions. You can significantly shorten your pom by just defining th

[2019-02-06 20:34] sithmein commented on #418
The snippet I pasted was the effective pom of the project that builds the standalone app. Hence the repetitions. As you can see, it has a dependency in the War which is built by different project in the same multi-module project. What packaging other than `liberty-assembly` should I use to create the runnable Jar from the War and what would the configuration look like? If I use `jar` packaging I g

[2019-02-06 21:11] chyt commented on #418
Ah I see. Do you see the runnable JAR in the `target` folder? If so, try setting `<attach>true</attach>` in the plugin configuration.

[2019-02-07 07:27] sithmein commented on #418
No, just the 2kb Jar.

[2019-02-07 15:23] chyt commented on #418
Hm that's strange, I don't see anything obvious that might be misconfigured. Could you send me your project or a sample project that replicates this issue so I can investigate?

[2019-02-12 12:58] rajesh7020 opened #421 "When i am hit careerjet API using java -nested exception is java.lang.NoClassDefFoundError: javax/net/ssl/SSLSocket"
[code]

output
[code]

[2019-02-15 17:28] chyt commented on #421
Hi, I don't see any code/output here that is referencing Liberty. Can you please clarify with your Liberty Maven Plugin configuration? Based on the log output seems like you are using Spring Boot with Wildfly.

[2019-02-18 09:20] paulmccrady commented on #410
@cherylking apologies for not coming back. Yes I got this working. Was a combination of bad configuration in pom and server xml files. Thanks.

[2019-02-25 16:44] mjwhale opened #422 "Build spring-boot-project thin jar?"
Does the liberty maven plugin automatically produce a thin jar file when building a spring boot application and the pom.xml is configured with:

`<installAppPackages>spring-boot-project</installAppPackages>`

The built application is named:
thin-SpringBootTestApp.jar

Does this mean that SpringBootUtility is being called?

Running in debug mode certainly suggests it:

could this then be used to cr

[2019-02-25 17:24] cherylking commented on #422
@mjwhale Yes, you are correct.

[2019-02-27 17:10] cherylking commented on #422
Closing since this was a question and not an issue.

[2019-02-27 17:10] #422 closed

[2019-02-27 17:12] cherylking commented on #417
@N9209N Can you provide the additional information requested by Charles? Otherwise, if this is no longer an issue for you, or you have found an acceptable workaround please close the issue. Thanks.

[2019-02-27 17:14] cherylking commented on #421
@rajesh7020 Can you please answer Charles' questions so we can look into your issue?

[2019-02-27 17:15] cherylking commented on #418
@sithmein Can you provide the information Charles requested?

[2019-02-28 19:42] gkwan-ibm opened #423 "Maven 3.5.0+ is required"
~Should update the readme for to use Maven 3.5.0+ instead of 3.x to build the Liberty plug-ins and archetypes?~

In somewhere, should tell users to use Maven 3.5.0+ to run Liberty maven plug-ins

[2019-03-04 13:37] sithmein commented on #418
Here's a stripped down multi-module setup which shows the problem. I hope it's self-contained. If you `mvn install` you'll get

in the end (notice the .zip instead of .jar). Same holds for `deploy`.

[jar-zip.zip](https://github.com/WASdev/ci.maven/files/2926520/jar-zip.zip)

[2019-03-04 17:12] chyt commented on #418
Why do you have `liberty-assembly` as the packaging type for the server? As I described above, `liberty-assembly` has a hard-bind to extension type `zip` so there's no way that you can use it and get a `jar` installed.

The solution is to change the packaging type to `jar`, add back all the executions that you'll lose by removing `liberty-assembly`, and set `installAppPackages` to `dependencies` s

[2019-03-06 18:42] N9209N commented on #417
@chyt  - apologies for not responding back on the queries. We are using a liberty package shared by our infra team and not from the maven central.

Does this issue still exist in the latest Maven plugin version (2.6.4)? - I have to try using this version of the plugin. the current version i use is 2.1.1
Is this a clean build on the Linux machine or are you transferring files from Windows? - this i

[2019-03-07 10:19] sithmein commented on #418
Alright, tried it and it works fine! From my side this issue can be closed then.

[2019-03-08 19:59] #418 closed

[2019-03-08 20:00] cherylking commented on #421
Closing since there has been no response and does not look like an issue with our plugin. If there is additional info that can be provided, feel free to reopen.

[2019-03-08 20:00] #421 closed

[2019-03-08 20:02] cherylking commented on #423
@gkwan-ibm Is 3.5.x actually required? Did you run into a problem using an earlier version of 3.x? Please provide any additional info you may have.

[2019-03-08 20:25] gkwan-ibm commented on #423
from https://archive.apache.org/dist/maven/maven-3/, I tried 3.2.5 and 3.3.9, both not works. As well, I tried 3.5.0 and 3.6.0, both works.

[2019-03-08 20:26] gkwan-ibm commented on #423
following was the error we found:
[code]

[2019-03-08 20:33] gkwan-ibm commented on #423
Updated the description.

I cannot say to use maven 3.5+ to build Liberty maven plugins but we surely got error to run it by using maven 3.2.5 and 3.3.9.

[2019-03-14 15:34] mikehenry-se opened #426 "Adding dependency resources"
Hi,
We are having issues including library-type resources into our Liberty assemblies for, say, adding a JDBC-driver. The datasource definition goes into the server.xml and we add a dependency to the jar-file for the driver, which should get pulled from our build-artifact repository, but we can't find a way to tell the plugin where to put the library definition (i.e. usr/shared/config) and jar-fil

[2019-03-14 15:45] mattbsox commented on #426
You can use the Maven Dependency plugin to do this:

[code]

[2019-03-14 16:21] cherylking commented on #423
@gkwan-ibm Thanks for the additional info. We will look into this.

[2019-03-14 16:23] scottkurz opened #427 "Can we default configDir to src/main/liberty/config?"
Looking over this issue: https://github.com/WASdev/ci.maven/issues/121, I don't think the behavior change would be worth worrying about too much.

If **configDirectory** is specified today, its contents already takes precedence over other options, like **configFile**.

If **configDirectory** is specified and contains some config like jvm.options, but not other, like server.xml, you can also set bo

[2019-03-14 16:31] chyt commented on #427
I think the other breaking use case is in existing projects that are relying on defaults to define location of, for example, server.xml.

If a user has a project currently with no `configFile` or `configDirectory` configuration, then the plugin will look for a server.xml file in `src/test/resources.server.xml`. However, if the `configDirectory` parameter is added and it still takes precedence, the

[2019-03-14 16:33] aguibert commented on #427
+1 to this, it may be a breaking change, but will give the liberty plugins much better UX out of the box.

Right now, this is pretty much mandatory config:
[code]

[2019-03-14 16:36] chyt commented on #427
@aguibert Which projects are you referring to? We currently have defaults in place that will automatically pick up server.xml, bootstrap.properties, server.env, and jvm.options. So `configDirectory` would only be required if the project has config files in addition to those four I just listed. I'm not sure how often this is the case, especially in basic projects like what we have in the samples/gu

[2019-03-14 16:37] scottkurz commented on #427
But if there's no file at location _src/main/liberty/config/server.xml_ don't we just look for the **configFile** default of _src/test/resources/server.xml_?

That's why I'm saying it seems like it's only hypothetically breaking projects with unused content.

[2019-03-14 16:47] chyt commented on #427
@scottkurz  I think you're right, looks like we do still fall back to checking `configFile` if we didn't find a server.xml in `configDirectory`.

Given this, I think we should be ok to make the change with just a minor version bump. I don't think that it will significantly affect people who are putting unused content in the `configDirectory` (if they're not referencing those files and the server i

[2019-03-14 17:31] scottkurz commented on #427
Yes, something like a previously-unused **jvm.options** file could have an effect, as could any **configDropins**.

Still, that's a corner case.

[2019-03-15 09:15] mikehenry-se commented on #427
In a Liberty project, I think it would make more sense to default `configDirectory` to `src/main/liberty`, and put `server.xml` there. It seems common to include config-files from a `config` directory from `server.xml` (or use `configDropins`) and it would make this typical case easy, non-repetitive and basically zero-config.

[2019-03-15 09:31] mikehenry-se commented on #426
Good tip! A little more config than I hoped for, but it'll sure do the trick.

[2019-03-15 15:29] scottkurz commented on #427
@mikehenry-se, I see your point that the extra subdirectory is not really necessary, and shorter = better.

But `src/main/liberty/config` aligns with a good number of our samples, and the archetypes in this repository.  I think people might be a bit surprised if this convention was not chosen as the default.

Though whichever we choose, now is the time to have this discussion.

[2019-03-20 17:03] cherylking commented on #426
Closing this issue since the provided config above is the recommended solution.

[2019-03-20 17:03] #426 closed

[2019-03-31 22:03] ffischer1984 opened #430 "Show server log on screen / maven instead of writing a file"
Is it possible to write the  liberty-logs on screen?

[2019-04-01 08:35] ffischer1984 opened #431 "Pull Request: Inlined server.xml configuration"
Is there a reason why you don't merge the pull-request: Inlined server.xml configuration. I would love this feature in this maven-plugin...

[2019-04-10 15:08] cherylking commented on #431
We appreciate your interest. However, there are some downsides to this approach. Mostly, the  configuration provided in the pom.xml would not be syntax verified. We will be closing the pull request.

[2019-04-10 15:15] mattbsox commented on #430
Not at this time, but you can use `cat <path to log file>` to print it.

[2019-04-10 15:30] cherylking commented on #408
Since this is an open-liberty issue, I am going to close this one.

[2019-04-10 15:30] #408 closed

[2019-04-10 15:37] cherylking commented on #407
@rajivnathan We discussed this today while scrubbing our backlog. Is this still important to you? Trying to determine priorities.

[2019-04-10 19:17] chyt commented on #417
I think you might run into permissions problems because you're composing the zip in Windows and then running it in Linux. Have you tried doing the entire process on a Linux machine? Also can you verify that the original Liberty JAR that you're starting with has the right permissions? Where does that JAR come from?

If you can verify that the permissions are correct when all the steps are performed

[2019-04-17 16:27] c-koell opened #434 "Possibility to define the --no-password parameter during server create"
Hi !

Is it possible to define --no-password during server create ?
https://github.com/OpenLiberty/open-liberty/issues/1627 adds the possibility to skip creating a password in the server.env File.

greets
claus

[2019-04-17 19:24] #431 closed

[2019-04-17 19:24] #430 closed

[2019-04-22 16:01] #423 closed

[2019-04-23 20:04] N9209N commented on #417
Hi @chyt ,

Thank you for your time on this issue.

1. The Liberty JAR is shared by an internal team who maintains the WAS Liberty platforms. This base jar does not have the execute access on the files.
2. We have worked around the issue by creating the updated ZIP file in a Linux machine and using this in our builds. When the same is done on Windows, the permissions are not retained.
3. We have t

[2019-05-03 16:51] mattbsox commented on #427
Merged in changes that added a default value of `src/main/liberty/config` for `configDrirectory` in #433

[2019-05-09 14:21] aguibert commented on #427
hi @mattbsox, thanks for merging the changes! Was that all the necessary changes for this default value change? If so, we can go ahead and close this issue (and the Gradle equivalent at https://github.com/WASdev/ci.gradle/issues/307)

[2019-05-13 12:11] c-koell opened #437 "Is it possible to define external jars to be included to the created server ?"
We would like define a library fileset in the server.xml to the oracle jdbc driver.
`<library id="db.oracle">
 <fileset dir="${server.config.dir}/dblibs/" includes="ojdbc8.jar" />
</library>`

It would be great do copy custom resources into the server.config.dir during package.
Then it is possible to run that packaged server on windows or linux without modifying the library path ..

Is that possib

[2019-05-13 12:17] c-koell commented on #437
Would be the ${shared.resource.dir} the place to put db libraries in ?

[2019-05-13 20:42] mattbsox commented on #437
Yes, `shared.resource.dir` would be the place to add the db libraries. You can use the `maven-dependency-plugin` to do this during package:
[code]

[2019-05-13 20:43] chyt opened #438 "Update package docs with copy maven-dependency-plugin:copy snippet"
Information about how to copy dependencies to the runtime shared resource directory has been commonly requested in the past. We should include a section in the package-server goal documentation that explains how to do this using the `copy` goal from the `maven-dependency-plugin`.

[2019-05-14 05:27] c-koell commented on #437
Thank you very much for the info ...

[2019-05-14 05:27] #437 closed

[2019-05-15 09:50] davejwilson opened #439 "build of archetype on maven central has binary file for index.html"
If you download the following archetype bundle from maven central:
http://central.maven.org/maven2/net/wasdev/wlp/maven/liberty-archetype-webapp/2.6.4/liberty-archetype-webapp-2.6.4.jar
It contains an invalid binary file under: /archetype-resources/src/main/webapp/index.html (199.3kB)
Not sure if something went wrong with your build.

[2019-05-17 17:28] c-koell commented on #434
Could someone give some feedback please ?

Thanks

[2019-05-17 18:34] cherylking commented on #434
@c-koell Sorry for the slow response. Thanks for bringing this new option to our attention. We can definitely add that option for create-server in ci.maven and liberty-create in ci.gradle. We will put it in our backlog. We will need to wrap up some other work before prioritizing this though.

[2019-05-24 12:05] JamesBlandford opened #441 "run-server should know if you've run install-apps"
Please can you skip moving the WAR file into the apps folder if you have ran 'install-apps' so it uses the XML rather than the WAR

[2019-05-27 14:46] mikehenry-se opened #442 "server.bat running under bash on Windows"
Hi,
Thanks for a great plugin! We have been using this plugin for a while with great results but are having some problems running it under (Git) Bash on Windows.
The behavior is that on all Windows shells, the StartServer Mojo, for example, will run the "server.bat" script.
We think it would be reasonable (and desirable) when running under Bash, regardless if it is under Windows, that the correspo

[2019-05-28 08:05] mikehenry-se commented on #442
Filed this issue under [ci.ant](https://github.com/WASdev/ci.ant/issues/96) Please close if not relevant.

[2019-05-28 14:45] chyt commented on #441
Hi, can you elaborate on this issue? I don't believe `run-server` should affect anything with how the war or loose app is installed.

[2019-05-28 14:48] chyt commented on #439
Thanks for catching this, merged your PR.

[2019-05-28 14:48] #439 closed

[2019-05-28 14:57] prasoc commented on #441
OK so I run `install-apps` which creates the .war.xml file, and then `run-server` - there is now the WAR file in the apps/ folder which there wasn't before running the server.

as I'm on a Unix-based system, I can delete the WAR *just after* it's created, so the Liberty runtime falls back to using the .xml file (with hot reloading) but it'a a nuisance doing this every server start

[2019-05-31 21:21] davejwilson commented on #439
Pleasure

On Tue, May 28, 2019, 4:48 PM Charles Y. Tian <notifications@github.com>
wrote:

[2019-06-14 10:52] jonaslalin opened #457 "cleanDropins should be dropins inside a <configuration> block"
https://github.com/WASdev/ci.maven/blob/92fd06db94c3dabf3fc4298f0b9c3debfb98e023/docs/clean-server.md#L34-L36
should instead be
[code]
since the name of the attribute is `dropins`, not `cleanDropins`:
https://github.com/WASdev/ci.maven/blob/92fd06db94c3dabf3fc4298f0b9c3debfb98e023/liberty-maven-plugin/src/main/java/net/wasdev/wlp/maven/plugins/server/CleanServerMojo.java#L43-L44
However, I have to

[2019-06-17 19:52] chyt commented on #457
Thanks, I'm currently working on a fix.

[2019-06-17 23:04] #434 closed

[2019-06-18 18:42] #457 closed

[2019-06-18 19:00] chyt commented on #457
You should now be able to use the parameters either with or without the clean prefix. For example, `cleanDropins` and `dropins` will both work and have the same behavior.

[2019-06-19 14:47] skedi opened #461 "Awareness of defaultValue in parameterized server configs using variables"
Hello together,
during my work with liberty-maven-plugin I noticed that the plugin is not aware of the defaultValue in parameterized server configs using the variable tag like it is mentioned here under the subtopic Variable substitution:

https://openliberty.io/docs/ref/config/#serverConfiguration.html

It runs in a NPE during install-apps:

[code]

[2019-06-22 15:16] sdaschner opened #467 "Hot-adding of mpConfig feature failed"
Adding the `mpConfig-1.3` feature into the `server.xml` while running `mvn liberty:dev` doesn't install the configuration feature properly. A class that injects the following results in a deployment exception:

[code]

[code]

Stopping and re-running the `dev` mode solves the issue, but it would be nice to resolve this while being active.

FYI: Using commit 25546cd in branch `devMode`.

[2019-06-23 10:34] sdaschner opened #468 "Download liberty with progress bar"
If there's no `<assemblyArtifact>` defined, the plugin tried to download the latest (?) version, which makes sense to me.
Is there a way to display a progress bar for the download or are there any means by Maven to do that?

I get the message ...

[code]

... without an info how long that might take.

[2019-06-25 15:03] cherylking commented on #434
@c-koell This was added in ci.maven release 2.7.

[2019-06-28 20:26] yeekangc commented on #467
@ericglau @kathrynkodama ^^^

[2019-06-28 21:05] kathrynkodama commented on #467
If you replicate this behaviour without dev mode: run `mvn liberty:run-server`, add `mpConfig-1.3` in the target `server.xml` and call `mvn compile` in another terminal, the same error is displayed.

This may be a special case where we require dev mode to restart. @yeekangc @ericglau what do you think?  We could add an additional check for whether the added feature is `mpConfig-1.3` and if that sp

[2019-07-01 14:19] cherylking commented on #427
This was delivered in release 2.7.

[2019-07-01 14:19] #427 closed

[2019-07-03 20:03] yeekangc commented on #467
@Emily-Jiang @tevans78, can you take a look and comment?  Not sure why we need to restart in this case?

[2019-07-08 16:16] cherylking commented on #461
We need to enhance our plugins to handle the defaultValue. Thank you for bringing this to our attention.

[2019-07-11 16:09] orebmann opened #482 "install-feature fails with "productInfo command timed out""
When updating the net.wasdev.wlp.maven.parent - liberty-maven-app-parent Plugin from 2.2. to 2.7 the install-feature task fails with:

[INFO] --- liberty-maven-plugin:2.7:install-feature (install-feature) @ pwencoder ---
[INFO] CWWKM2102I: Using artifact based assembly archive : com.ibm.websphere.appserver.runtime:wlp-javaee8:null:19.0.0.6:zip.
[INFO] CWWKM2102I: Using installDirectory : C:\data\b

[2019-07-16 22:07] ericglau opened #486 "Dev mode should use separate scopes for recompiling source and tests"
Dev mode uses the same dependencies for recompiling source and tests.  Instead, it should handle all of the different possible scopes and maintain separate lists of dependencies when recompiling source or tests.

[2019-07-17 09:28] tevans78 commented on #467
We found a bug in the CDI integration that meant the new CDI extension was not properly registered when the mpConfig feature was hot-added.
Fixed here: https://github.com/OpenLiberty/open-liberty/pull/8210

[2019-07-22 16:58] cherylking commented on #482
We were able to recreate this locally on a Windows machine. It does not fail on Linux/Mac. We have not been able to determine why it is failing on Windows though. The productInfo command is not successfully invoked for some reason (even though it works fine from the command line) and it times out. We will continue to investigate.

[2019-07-23 14:54] ericglau opened #489 "Run multiple instances of dev mode without setting debug port"
If you have multiple terminals open and need to run separate instances of `liberty:dev`, currently you would need to specify a different debug port for it to bind to.

Instead, it should be simpler and handle the conflict automatically without requiring you to specify a different port.

[2019-07-24 09:48] sdaschner opened #491 "Standalone plugin execution from CLI fails"
Right now it's not possible to run the plugin with `dev` mode standalone, that is with fully-qualified group & artifact.

Following scenario: `mvn package net.wasdev.wlp.maven.plugins:liberty-maven-plugin:3.0.M1:dev -X`

Fails with:

[code]

The following snippet in `DevMojo.java` tries to resolve the version of the defined plugin, which doesn't exist. Maybe there's another way around this?

[code

[2019-07-24 20:09] #489 closed

[2019-07-24 20:13] ericglau commented on #489
fixed

[2019-07-30 16:23] cherylking commented on #482
The problem has been found. Once a snapshot is available with the fix, I will update here.

[2019-08-03 10:07] sdaschner opened #493 "More detailed error on invalid feature"
When running the Liberty plugin with a `server.xml` that contains an invalid feature, Liberty lists all features as invalid, and it's up to the user to see which one caused the problems.

Example:

[code]

Causes:

[code]

Can that information be changed to only complain about the missing/invalid feature (`mpHealthz-2.0` in this example)?

Tested with `3.0.M1` and `Open Liberty 19.0.0.7/wlp-1.0.30

[2019-08-03 10:22] sdaschner opened #494 "Removing feature results in DefinitionException"
Another thing I noticed, while testing:

When removing the `metrics-1.1` feature (and maybe others), the mechanism fails with

[code]

regardless of the editor/IDE being used to save the file, and my application seems to be gone. Not super-critical IMO, since adding features works (we're talking about during development).

Tested with `3.0.M1` and `Open Liberty 19.0.0.7/wlp-1.0.30.cl190720190711-1

[2019-08-07 19:16] yeekangc opened #498 ""Context Not Found" for Dev Mode"
When Dev Mode is restarting the application and one tries to test the application or endpoints, you may get a "Context Not Found" error page (from time to time).

Should consider handling this better to improve the experience.  Would like to see if we can address this ASAP too.

@kathrynkodama @ericglau @patricktiu

[2019-08-13 16:38] chyt commented on #468
Moved to ci.ant repository since this is happening via the ant task.

[2019-08-13 16:38] #468 closed

[2019-08-13 17:56] cherylking commented on #482
This PR (https://github.com/OpenLiberty/ci.common/pull/58) in ci.common should fix the root cause of this issue. Once ci.maven has been updated to pull in that fix, I will update this issue with the release or snapshot info.

[2019-08-14 19:45] cherylking commented on #493
@sdaschner Unfortunately, this message comes from Liberty itself. The Liberty maven plugin passes a list of features to be installed to Liberty, and it receives the message (com.ibm.ws.install.InstallException: CWWKF1299E) back from Liberty that the installation failed. If you would like that message to be improved, please open an issue in the Open Liberty repository.

[2019-08-14 19:45] #493 closed

[2019-08-15 18:15] cherylking opened #505 "Rename and remove goals"
In preparation for a 3.0 release, rename the following goals and remove various aliases:

create-server -> create
remove start-server -> keep start
remove run-server -> keep run
remove stop-server -> keep stop
test-start-server -> test-start
test-stop-server -> test-stop
package-server -> package
clean-server -> clean
dump-server -> dump
java-dump-server -> java-dump
remove server-status -> keep s

[2019-08-15 18:16] cherylking opened #506 "Combine install-apps and deploy goals"
In preparation for a 3.0 release, combine deploy and install-apps goals into one deploy goal (rename parameters as needed).

Rename installAppPackages for deploy goal.

[2019-08-15 18:18] cherylking opened #507 "Consolidate and adopt a simplified <install> configuration"
In preparation for a 3.0 release, consolidate and adopt a simplified <install> configuration.

The current possible configurations are listed here: https://github.com/OpenLiberty/ci.maven/blob/master/docs/installation-configuration.md#using-an-existing-installation

Also, remove install-server goal - every goal will perform install as first step if necessary..

[2019-08-15 18:19] cherylking opened #508 "Remove liberty-assembly packaging type"
In preparation for a 3.0 release, remove the liberty-assembly packaging type.

[2019-08-15 18:21] cherylking opened #509 "Changes for defaults"
In preparation for a 3.0 release, make the following default changes:

- Loose application mode by default (actually will handle this in issue #506)
- Remove defaults for the following configuration files (the configDirectory default ${basedir}/src/main/liberty/config will be used if nothing is specified for these configuration files):
-- configFile -- Rename to serverXml
-- bootstrapPropertiesFil

[2019-08-15 18:23] cherylking opened #510 "Remove install-server goal"
In preparation for a 3.0 release, remove install-server goal - every goal will perform install as first step if necessary.

[2019-08-15 18:25] cherylking opened #511 "Remove need for parent POM specifying alternate outputDirectory"
In preparation for a 3.0 release, bake alternate outputDirectory for package-server and install-feature in so we won't override configuration in parent POM to keep it clean.

[2019-08-15 18:26] cherylking opened #512 "Update package goal"
In preparation for a 3.0 release, update package goal to include:

- create separate `packageType` parameter (jar, zip) from `include` parameter
  - `jar` only works with `all` and `minify` include parameters. (safe to assume `null` include will default to `all`?)
  - change "include" parameters (remove runnable - this is implicit with type jar) https://github.com/OpenLiberty/ci.maven/blob/master/

[2019-08-15 18:34] cherylking opened #513 "Remove install-features goal from lifecycle"
In preparation for a 3.0 release, keep install-features goal for the case if users will install from (non-)Central repos to an existing Liberty install; but remove it from the Maven lifecycle binding and handle the install of missing features implicitly.

[2019-08-19 22:12] patricktiu opened #514 "Running test in dev goal getting unable to locate Test Source XRef... warning"
The warning message is caused  by PR #496

[code]

[2019-08-20 19:49] patricktiu commented on #514
To disable the link to the source code, the linkXRef property should be set to false.

https://maven.apache.org/surefire/maven-surefire-report-plugin/examples/cross-referencing.html

[2019-08-22 12:49] yeekangc opened #517 "Document how dev mode handles configuration changes"
From @gcharters:

[2019-08-22 12:50] yeekangc commented on #517
@ericglau @kathrynkodama, let us document how we handle the different kind of changes and what the users should expect and any action to take if necessary.

[2019-08-22 14:43] sairaghavak opened #518 "liberty:deploy not working"
Hi

I am trying to explore this OpenLiberty maven plugin and I am facing the deploy issue
It says

I have the following configured in my pom.xml, please let me know if am doing something wrong.

[code]

At first, I have started the server in the background

Then, I tried to deploy it

but it doesn't seem to find the `appArchive` tag in xml. as in below error trace.

`Nothing to deploy - appArchive

[2019-08-22 15:33] mattbsox commented on #518
Can you try using a release version of the plugin? The latest release on Maven Central is `2.7`.

[2019-08-22 17:15] sairaghavak commented on #518
Hey @mattbsox It's still the same at least for me. Just rechecked again.

[2019-08-22 19:29] mattbsox commented on #518
Okay. Can you post your whole pom.xml?

[2019-08-22 19:37] sairaghavak commented on #518
Sure
[code]

[2019-08-22 20:44] patricktiu opened #520 "[ERROR] Failed to run integration tests in dev mode"
If the failsafe plugin did not bind to any goal in the project pom, running IT in dev mode gets an error message in the console.

[code]

I made changes in the project pom in http://github.com/ericglau/demo-devex and then run mvn liberty:dev to reproduce the error.

[code]

[2019-08-23 03:01] ericglau commented on #520
Running tests again after the above failure results in the following:

[code]

[2019-08-23 19:09] kathrynkodama commented on #514
fixed with #521

[2019-08-26 08:39] DieAkuteSense opened #523 "Goal configure arquillian fails if apiTypeVisibility property is set"
By setting the apiTypeVisbility using arquillianProperties in POM, the configure-arquillian goal fails due it does not know the apiTypeVisibility property.

[code]

After adding the apiTypeVisibility Property, the goal fails with
`[ERROR] Failed to execute goal net.wasdev.wlp.maven.plugins:liberty-maven-plugin:2.7:configure-arquillian (configure-arquillian) on project webapp: Er
ror configuring Ar

[2019-08-26 13:55] cherylking commented on #523
Thank you for bringing this to our attention. We are missing that parameter in our configureArquillian goal. We will fix this in an upcoming release.

[2019-08-28 20:06] aguibert opened #532 "NPE when using <variable> with defaultValue"
If I try to use server.xml config with a variable that has a default value like this:
[code]

I get the following NPE:
[code]

[2019-08-29 11:44] sdaschner opened #533 "IDE refactoring confuses the compilation part"
When refactoring, and/or creating Java structure that target multiples source files at one, the plugin get's confused and is not able to successfully compile the sources, where a full compilation would successfully run.

My assumption is that is due to multiple files being modified simultaneously. In order to reproduce the error, you can take the following [demo project](https://github.com/sdaschn

[2019-08-29 13:46] cherylking opened #534 "Support maven properties for Liberty configuration"
From Alasdair:

- maven properties that start liberty.bootstrap.{var} should end up in bootstrap.properties as {var}
- maven properties that start liberty.env.{var} should end up in server.env as {var}
- maven properties that start liberty.jvm.{var} should end up in jvm.options as {var} (maybe liberty.java might be better?)
- maven properties that start liberty.var.{var} should end up in a config

[2019-08-29 13:53] cherylking commented on #507
This should include the following:

- If no download configuration is provided act as if this config is used

<assemblyArtifact>
 <groupId>io.openliberty</groupId>
 <artifactId>openliberty-kernel</artifactId>
 <version>[16.0.0.4,)</version>
 <type>zip</type>
</assemblyArtifact>

- remove code that downloads from non-maven repositories

[2019-08-29 16:06] cherylking commented on #518
@sairaghavak Once you try the suggestion from chyt, please update here whether your issue is resolved. Thanks.

[2019-08-29 16:10] ericglau commented on #517
This issue is to improve the documentation on https://github.com/OpenLiberty/ci.maven/blob/master/docs/dev.md

[2019-08-29 16:12] kathrynkodama commented on #514
fixed with #527

[2019-08-29 16:12] #514 closed

[2019-08-29 16:22] cherylking commented on #532
Duplicate of #461

[2019-08-29 16:22] #532 closed

[2019-08-29 16:43] sairaghavak commented on #518
@cherylking It works good, verified. Thanks @chyt

[2019-08-29 16:49] #518 closed

[2019-08-29 16:53] cherylking opened #535 "Support liberty.runtime.version maven property"
Support liberty.runtime.version maven property to set the version of Liberty to be used rather than having to set an assembly artifact.

[2019-08-29 18:34] ericglau commented on #491
This is fixed in 3.0-M2.  You can run:
`mvn io.openliberty.tools:liberty-maven-plugin:3.0-M2:dev`

[2019-08-29 18:34] #491 closed

[2019-08-29 18:56] ericglau commented on #467
This is fixed as per the above comment.  I've verified that this works with `liberty-maven-plugin:3.0-M2` and `openliberty-kernel:19.0.0.8`

[2019-08-29 18:56] #467 closed

[2019-08-29 21:01] mattbsox opened #536 "Update documentation to use new coordinates and package names"
The documentation needs to be updated to use new plugin coordinates and package names after the migration to `io.openliberty.tools`.

[2019-08-29 21:02] #505 closed

[2019-08-30 14:26] a-cherici opened #537 "The install-feature plugin try to install the user feature and fail"
There is no way to tell to the install-feature to ignore the user feature configured in the server.xml together with the others normal features.

The plugin read the user feature from the server.xml and try to handle it like a normal feature causing build failure.

For example give this conf snippet from the server.xml:

[code]
The maven plugin try to install myFeature-0.31 like a normal feature,

[2019-08-30 15:05] cherylking commented on #537
Thank you for bringing this to our attention. Please provide the following additional information.

- Are using Open Liberty or WebSphere Liberty?
- Which version of Liberty are you using?

[2019-08-30 15:13] a-cherici commented on #537
I'm using WebSphere Liberty version 19.0.0.7. The liberty-maven-plugin version is 2.7.

[2019-08-30 16:23] cherylking commented on #537
We will work on recreating your issue locally and get back to you.

[2019-08-30 16:53] a-cherici commented on #537
Ok, thank you

Il ven 30 ago 2019, 18:23 Cheryl King <notifications@github.com> ha scritto:

[2019-08-30 18:22] cherylking commented on #537
One more request...could you provide the contents of your pom.xml? We think you may be missing some configuration that is needed in order to locate the user feature.

[2019-09-02 13:10] a-cherici commented on #537
In the zip file the project pom's and the effective server.xml
[configurations.zip](https://github.com/OpenLiberty/ci.maven/files/3566148/configurations.zip)

[2019-09-03 15:21] cherylking commented on #537
Thanks for providing the additional info. We are looking into this. Another question though...are you installing the user feature outside of the pom.xml configuration and would simply like the user feature to be ignored during the install-feature goal? Or do you need the user feature to get installed through the pom.xml configuration?

[2019-09-03 17:42] #509 closed

[2019-09-03 19:05] yeekangc opened #541 "liberty:run doesn't deploy the application"
Per @sdaschner:

@gkwan-ibm is interested for the guides too.

[2019-09-04 14:54] patricktiu opened #542 "DevMod fails to monitor the first java file creation."
dev mode fails to monitor the first java file created on an empty project.

[2019-09-04 14:54] patricktiu commented on #542
@gkwan-ibm

[2019-09-04 16:16] cherylking commented on #537
The fix in the ci.common PR referenced above will fix this issue.

[2019-09-04 19:23] #536 closed

[2019-09-05 17:07] ericglau opened #545 "Dev mode fails if server.env.bak exists"
Dev mode fails to start if server.env.bak already exists.  This can occur if dev mode was stopped uncleanly such that it did not have the chance to clean up the .bak file.

Steps to reproduce:
1. Start dev mode
2. Kill the dev mode process uncleanly e.g. `kill -9 <pid>`
3. Kill the server process
4. Start dev mode with `-e` to show stacktrace

If you run dev mode again after this error occurs, it

[2019-09-05 18:01] ericglau opened #546 "If user input cannot be read, debug log shows infinite loop"
1. Start dev mode including maven's `-X` in an environment where user input cannot be read, as is currently the case with appsody.
2. Debug log shows the following repeatedly in an infinite loop.
[code]

[2019-09-05 18:40] ericglau commented on #546
This also seems to cause it to take a long time to detect compile changes.  Not sure if it's related, but we should make sure it's not spawning a lot of threads.

[2019-09-05 19:09] ericglau commented on #533
Fixed with the above two referenced PRs.

[2019-09-05 19:09] #533 closed

[2019-09-05 21:10] #542 closed

[2019-09-05 21:11] ericglau commented on #542
Fixed by https://github.com/OpenLiberty/ci.common/pull/77

[2019-09-06 13:59] ericglau opened #548 "Dev mode test failures"
The following failures started in https://travis-ci.com/OpenLiberty/ci.maven/builds/126084558 or earlier.

manualTestsInvocationTest failure is intermittent.
testDirectoryTest failure happens consistently.

[code]

[2019-09-06 15:39] ericglau commented on #548
Fixed with the above two PRs.  Will wait for build https://github.com/OpenLiberty/ci.maven/runs/214432968 before closing this issue.

[2019-09-06 17:31] ericglau commented on #548
Builds passed. Closing.

[2019-09-06 17:31] #548 closed

[2019-09-09 14:29] argenstijn opened #552 "liberty-maven-plugin support to resolve dependencies from workspace"
m2e can resolve maven dependencies from workspace. This plugin does not support this feature. Can this be supported?

[2019-09-09 18:13] #535 closed

[2019-09-09 18:15] cherylking opened #553 "Add a version_3.0_differences document and link from README"
Add a version_3.0_differences document that summarizes all the changes made for the 3.0 release and link to it from the README document.

[2019-09-09 18:22] #512 closed

[2019-09-09 19:05] ericglau commented on #546
fixed

[2019-09-09 19:05] #546 closed

[2019-09-09 19:08] ericglau commented on #517
fixed by the above referenced issue

[2019-09-09 19:08] #517 closed

[2019-09-09 19:10] ericglau opened #554 "Same file is compiled multiple times"
If a file is saved multiple times (as what occurs in appsody or linux), it gets compiled multiple times, even if it was part of the same compilation batch.  This causes the app to restart multiple times.  Instead, it should only compile unique files per batch.

[code]

[2019-09-09 20:24] #554 closed

[2019-09-10 10:16] nicolashenry opened #556 "Skip "liberty:create-server" in "liberty:dev" when installDirectory is set."
I am using installDirectory option so I expected that "liberty:dev" just skip "liberty:create" because I don't need an other runtime (and it fails because I am behind a corporate proxy).
So is it possible to skip "liberty:create" goal when "liberty:dev" is run with some option?

[2019-09-10 11:49] nicolashenry commented on #556
I just realized that "mvn liberty:create-server" is working well with installDirectory when used directly (it does not try to download the runtime) but not with "mvn liberty:dev".
It seems that installDirectory is ignored when "create-server" is used as sub task of "dev" (and also for "install-feature").

[2019-09-10 12:01] nicolashenry commented on #556
It seems that I can set it in command line `mvn liberty:dev -DinstallDirectory="C:\...\wlp-19.0.0.8"` as a workaround but it is ignored when just set in plugin configuration.

[2019-09-10 15:46] ericglau opened #558 "Dev mode should pass through common/server parameters"
Dev mode should pass through [common](https://github.com/OpenLiberty/ci.maven/blob/master/docs/common-parameters.md#common-parameters) and [common server parameters](https://github.com/OpenLiberty/ci.maven/blob/master/docs/common-server-parameters.md#common-server-parameters) when calling Liberty goals such as `create`, `install-apps`, and `install-feature`

[2019-09-10 18:24] cherylking opened #559 "Automatically set packageType to jar if the include parameter contains runnable"
To make the package goal a bit more backwards compatible, detect that the include parameter contains `runnable` and set the packageType to `jar` instead of letting it default to `zip`. Log a warning that specifying `runnable` is deprecated and that packageType="jar" should be used instead.

[2019-09-10 19:01] #556 closed

[2019-09-10 20:18] #507 closed

[2019-09-10 21:13] #559 closed

[2019-09-11 14:28] #545 closed

[2019-09-11 19:58] #511 closed

[2019-09-12 18:58] gkwan-ibm opened #567 "Dev mode: integration test ran and passed but still had an error message"
[code]

[2019-09-12 19:19] gkwan-ibm opened #568 "liberty:run do not install features"
in finish directory, we ran `mvn package liberty:run`

we got
[code]

Should feature be installed?

[2019-09-12 19:56] #567 closed, assigned to nobody

[2019-09-12 22:10] patricktiu opened #569 "Dev goal did not redeploy app after the first java class is created"
1. Start `liberty:dev` on an empty project with only server.xml in the project src directory.
    (e.g. https://github.com/OpenLiberty/guide-rest-intro.git)
2. Create the first java class while dev mode is still running
    (copy SystemApplication.java from finish folder to start folder of the rest-intro guide)

The java file is compiled automatic as expected but `liberty:dev` did not re-deploy th

[2019-09-13 02:36] patricktiu opened #570 "dev mode fails in failsafe verify goal when failsafe has systemPropertyVariables configured"
Failed to run integration tests when failsafe plugin has systemPropertyVariables configured.
[code]

[code]
with debug:
[code]